{% extends 'base.html.twig' %}

{% block title %}MyAd - Zostań Partnerem i zarabiaj lub zamów reklamę{% endblock %}

{% block body %}
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="folding-cube">
            <div class="cube1 cube"></div>
            <div class="cube2 cube"></div>
            <div class="cube4 cube"></div>
            <div class="cube3 cube"></div>
        </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Main Header Area -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light header-sticky">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="assets/img/logo.png" width="33%" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#home-myad">MyAd</a></li>
                    <li class="nav-item"><a class="nav-link" href="#home-customer">Reklamodawca</a></li>
                    <li class="nav-item"><a class="nav-link" href="#home-partner">Partner</a></li>
                    <li class="nav-item"><a class="nav-link" href="#home-investor">Dla Inwestorów</a></li>
                    <li class="nav-item"><a class="nav-link" href="#home-team">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Main Header Area -->

    <!-- Start Customer/Ad Provider Banner -->
    <div id="home-myad" class="main-banner item-bg-myad">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-banner-text">
                                <h4><strong>Zapomnij</strong> o zwykłej reklamie<h4>
                                        <h1>Oto <strong>MyAd</strong> | Usługa, którą <strong>pokochasz</strong></h1>
                                        <p>Nowoczesna, skuteczna i elastyczna <strong>reklama tam, gdzie Twoi Klienci</strong>.</p>
                                        <a href="#myad-about" class="btn btn-primary">Poznaj MyAd</a>
                                        <!-- <a href="#customer-intro" class="btn btn-primary view-work">Chcę wiedzieć więcej</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Customer/Ad Provider Banner -->

    <!-- Start Strategy Area -->
    <section id="myad-about" class="strategy-area0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 plr-0">
                    <div class="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4></h4>
                            <h2>Nasza <span>Misja</span></h2>
                            <p>
                                Wyobraź sobie miasto bez wszechobecnych billboardów, bez wiszących na płotach plakatów
                                czy ulotek, zaśmiecających ulice. Miasto bez wkradającego się z każdej strony chaosu wizualnego.
                                <br/><br/>
                                A teraz pomyśl o swojej najbliższej okolicy. Czy reklama jest tam gdzie powinna?
                                Czy jest estetyczna?
                                <br/><br/>
                                <strong>Stworzyliśmy MyAd po to by reklama miała swoje miejsce. Aby w przestrzeni, w której się pojawia, wprowadzała ład i harmonię.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Strategy Area -->


    <!-- Start Customer-About-MyAd Area -->
    <!-- <section id="myad-about" class="who-we-are ptb-80 bg-fff">
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-0">
            </div>
            <div class="col-lg-6 col-md-4">
              <div class="section-title">
                  <h2>Nasza <span>misja</span></h2>
                  <p>
                    Wyobraź sobie miasto bez wszechobecnych billboardów, bez wiszących na płotach plakatów
                    czy ulotek, zaśmiecających ulice. Miasto bez wkradającego się z każdej strony chaosu wizualnego.
                    <br/><br/>
                    A teraz pomyśl o swojej najbliższej okolicy, gdzie reklama ma swoje miejsce.
                    Jest estetyczna a pomieszczeniom, w których się pojawia, dodaje ładu i harmonii.
                    <br/><br/>
                    My tak właśnie widzimy nasze miasto w przyszłości. Po to stworzyliśmy MyAd.
                    <br/></br>By uporządkować przestrzeń wokół nas.
                    <br/><br/>
                  </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-0">
          </div>
        </div>
    </div>
    </section> -->
    <!-- End Customer-About-MyAd Area -->

    <!-- Start Customer-About-MyAd Area -->
    <!-- <section id="customer-about" class="about-area ptb-80 bg-ffffff">

      <div class="container-fluid">
          <div class="row">

            <div class="col-lg-3 col-md-4">
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="section-title">
                <h2>Co <span>robimy</span></h2>
                <p>
                  Upraszczamy komunikację Reklamodawcy z Odbiorcą, wykorzystując do tego współczesne technologie teleinformatyczne oraz potencjał lokali usługowych i handlowych.

                  <br/><br/>Dystrybuujemy treści reklamowe do lokali wyposażonych w urządzenia wyświetlające.
                  <br/><br/>Posiadamy rozlokowaną w całej Polsce sieć Punktów - aptek, piekarni, salonów fryzjerskich i kosmetycznych.
                  <br/><br/>Jesteśmy alternatywą dla klasycznych form reklamy, które z każdym rokiem stają się co raz mniej skuteczne.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-4">
          </div>
        </div> -->

    <!-- <div class="container">
        <div class="section-title">
            <h2>Co <span>robimy</span></h2>
            <p>
              Upraszczamy komunikację Reklamodawcy z Odbiorcą, wykorzystując do tego współczesne technologie teleinformatyczne oraz potencjał lokali usługowych i handlowych.

              <br/><br/>Dystrybuujemy treści reklamowe do lokali wyposażonych w urządzenia wyświetlające.
              <br/><br/>Posiadamy rozlokowaną w całej Polsce sieć Punktów - aptek, piekarni, salonów fryzjerskich i kosmetycznych.
              <br/><br/>Jesteśmy alternatywą dla klasycznych form reklamy, które z każdym rokiem stają się co raz mniej skuteczne.</p>
        </div>
    </div> -->
    <!-- </section> -->
    <!-- End Customer-About-MyAd Area -->

    <!-- MyAd
    (czyt. maj ed) to projekt pozwalający zarabiać na udostępnianiu powierzchni Lokalu do wyświetlania reklam na specjalnie przygotowanym do tego Urządzeniu.



    Jak to działa?
    Reklamodawcy kupują Reklamy, która wyświetlają się na Urządzeniu, które będzie stało w Twoim Lokalu. My zajmujemy się wszystkimi formalnościami a Ty koncentrujesz się wyłącznie swoim biznesem. Jedynym Twoim zadaniem jest postawienie Urządzenia w uzgodnionym miejscu w swoim lokalu.



    Ile mogę zarobić?
    Dostajesz pieniądze od każdej reklamy lub ogłoszenia wyświetlonego na Twoim Urządzeniu – dokładnie 20% wartości wyświetlonych Reklam. Maksymalna kwota, którą możesz otrzymać to 500 zł ? netto miesięcznie, czyli ponad 6.000 zł ? rocznie - zakładając, że Lokal jest otwarty co najmniej 8 godzin dziennie, 5 dni w tygodniu a Urządzenie wyświetla maksymalną liczbę Reklam.



    Jakie to Urządzenie?
    Urządzeniem jest elegancki tablet z dotykowym ekranem ok. 10” podłączony bezprzewodowo do sieci Internet.

    Zamontowany na Ladzie lub innym widocznym dla Klientów miejscu, wyposażony w dodatkową baterię, pozwalającą na bezobsługowe i bezprzewodowe działanie.



    Jak go używać?
    Otrzymujesz od nas Urządzenie w pełni skonfigurowane i gotowe do pracy. Stawiasz je na Ladzie lub w innym uzgodnionym miejscu.

    Po każdym dniu pracy podłączasz Urządzenie do zasilacza sieciowego by je naładować.

    Przed rozpoczęciem kolejnego dnia pracy, naładowane Urządzenie wypinasz z zasilania sieciowego i stawiasz spowrotem na Ladzie.

    Obie operacje zajmują Ci mniej niż 15 sekund.



    Ile to kosztuje?
    Nic. Urządzenie otrzymujesz za darmo. -->

    <!-- Start Strategy Area -->
    <section class="strategy-area1">
        <div class="container-fluid">
            <div class="row">

                <!-- <div class="col-lg-1 col-md-0 bg-f6f6f6">
                </div> -->

                <div class="col-lg-6 col-md-6">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4>Jak to działa?</h4>
                            <h2><span>MyAd</span></h2>
                            <p>
                                Usługa, dzięki której publikujesz treści reklamowe w punktach handlowych, należących do naszych Partnerów.
                            </p>
                        </div>

                        <ul>
                            <li><i class="fa fa-map-marker"></i>Apteki</li>
                            <li><i class="fa fa-map-marker"></i>Piekarnie</li>
                            <li><i class="fa fa-map-marker"></i>Salony fryzjerskie</li>
                            <li><i class="fa fa-map-marker"></i>Salony kosmetyczne / urody</li>
                        </ul>

                        <div class="section-title">
                            <p>
                                Docierasz do swoich Klientów błyskawicznie i skutecznie.
                                <br/><br/>
                                Urządzenia wyświetlające <strong>myad player</strong> przykuwają uwagę swoim eleganckim wyglądem i funkcjonalnością.
                                Reklamy i ogłoszenia prezentują się świetnie. Odbiorcy obserwują je w czasie realizacji usługi lub podczas zakupu produktów.
                            </p>
                        </div>

                        <a href="#" class="btn btn-primary">Zamów</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="image">
                    </div>
                </div>
                <!--
                                    <div class="col-lg-1 col-md-0 bg-ffffff">
                                    </div> -->

            </div>
        </div>
    </section>
    <!-- End Strategy Area -->


    <!-- Start Strategy Area -->
    <section class="strategy-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="image"></div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4>Usługa MyAd</h4>
                            <h2><span>Nowoczesna</span></h2>
                            <p>Zbudowana w oparciu o najnowsze technologie by maksymalnie wykorzystać Twoje środki i ułatwić Ci działania marketingowe.<br/><br/></p>
                        </div>

                        <ul>
                            <li><i class="fa fa-check"></i>Natychmiastowa dystrybucja</li>
                            <li><i class="fa fa-check"></i>Eleganckie urządzenia wyświetlające <strong>myad player</strong></li>
                            <li><i class="fa fa-check"></i>Najwyższa jakość treści</li>
                            <li><i class="fa fa-check"></i>Model biznesowy, wspierający rozwój MŚP<li>
                        </ul>

                        <a href="#" class="btn btn-primary">Zamów</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Strategy Area -->

    <!-- Start Strategy Area -->
    <section class="strategy-area2">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4>Usługa MyAd</h4>
                            <h2><span>Skuteczna</span></h2>
                            <p>Rozwiązanie, które się sprawdza. Forma reklamy, wyróżniająca Twój biznes.
                                <br/><br/>Korzystaj z technologii, które do tej pory były zarezerwowane wyłącznie dla największych firm.</p>
                        </div>

                        <ul>
                            <li><i class="fa fa-check"></i>Eleganckie urządzenia przykuwające wzrok</li>
                            <li><i class="fa fa-check"></i>Treści wysokiej jakości</li>
                            <li><i class="fa fa-check"></i>Duża częstość wyświetlania reklam</li>
                            <li><i class="fa fa-check"></i>Błyskawiczna dystrybucja</li>
                            <li><i class="fa fa-check"></i>Elastyczność emisji</li>
                        </ul>

                        <a href="#" class="btn btn-primary">Zamów</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="image"></div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Strategy Area -->

    <!-- Start Strategy Area -->
    <section class="strategy-area3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="image"></div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4>Usługa MyAd</h4>
                            <h2><span>Elastyczna</span></h2>
                            <p>Docieraj do ogromnej grupy swoich obecnych jak i przyszłych Klientów, dostosowując komunikaty do potrzeb Twojego biznesu.</p>
                        </div>

                        <ul>
                            <li><i class="fa fa-check"></i>Twoja Grafika</li>
                            <li><i class="fa fa-check"></i>Twoje Video</li>
                            <li><i class="fa fa-check"></i>Gotowe Ogłoszenie wg szablonu</li>
                            <li><i class="fa fa-check"></i>Czas emisji</li>
                            <li><i class="fa fa-check"></i>Długość kampanii</li>
                            <li><i class="fa fa-check"></i>Zasięg</li>
                            <li><i class="fa fa-check"></i>Rodzaje Punktów</li>
                        </ul>

                        <a href="#" class="btn btn-primary">Zamów</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Strategy Area -->

    <!-- Start Strategy Area -->
    <section class="strategy-area4">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4>Usługa MyAd</h4>
                            <h2><span>Wiarygodna</span></h2>
                            <p>Czas to pieniądz. Nie poświęcaj go usługom, na których nie możesz polegać.<br/><br/>
                                W MyAd w każdej chwili możesz zobaczyć treści wyświetlane na dowolnym urządzeniu.
                                Siedząc w biurze w Poznaniu, możesz obejrzeć reklamy wyświetlane w lokalu w Gdańsku! Brzmi niesamowicie? I takie jest!
                            </p>
                        </div>

                        <ul>
                            <li><i class="fa fa-check"></i>Zdalny podgląd dowolnego urządzenia</li>
                            <li><i class="fa fa-check"></i>Raport na koniec kampanii</li>
                            <li><i class="fa fa-check"></i>Oszczędność czasu i pieniędzy</li>
                        </ul>

                        <a href="#" class="btn btn-primary">Zamów</a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="image"></div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Strategy Area -->

    <!-- Start Strategy Area -->
    <section class="strategy-area5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="image"></div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4>Usługa MyAd</h4>
                            <h2><span>Mierzalna</span></h2>
                            <p>Na koniec każdej kampanii otrzymasz od nas raport z podstawowymi danymi podsumowującymi: gdzie, kiedy oraz ile razy prezentowaliśmy Twoją reklamę.<br/>To bezcenne informacje, które wykorzystasz w przyszłości do zwiększenia skuteczności działań marketingowych.</p>
                        </div>

                        <ul>
                            <li><i class="fa fa-check"></i>Gdzie</li>
                            <li><i class="fa fa-check"></i>Kiedy</li>
                            <li><i class="fa fa-check"></i>Ile razy</li>
                        </ul>

                        <a href="#" class="btn btn-primary">Zamów</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Strategy Area -->

    <!-- Start Customer/Ad Provider Banner -->
    <div id="home-customer" class="main-banner item-bg-customer">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-banner-text">
                                <h4>Rozwijaj swój Biznes</h4>
                                <h1><strong>Bądź zawsze tam, gdzie Twoi Klienci</strong></h1>
                                <p>piekarnie | apteki | salony fryzjerskie | salony kosmetyczne i urody</p>
                                <a href="https://sklep.myad.pl" class="btn btn-primary">Zamów</a>
                                <a href="#customer-intro" class="btn btn-primary view-work">Chcę wiedzieć więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Customer/Ad Provider Banner -->

    <!-- Start Who We Are Area -->
    <section id="customer-intro" class="who-we-are ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2>Reklama w <span>MyAd</span></h2>
                <p>Zapewniamy Ci pełną kontrolę i gwarantujemy, że Twoja reklama znajdzie się tam gdzie chcesz, wtedy kiedy najbardziej potrzebujesz.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-who-we-are">
                        <i class="fa fa-pencil"></i>
                        <h4>Krok 1</h4>
                        <p>Wybierasz formę oraz treść reklamy. Określasz obszar i czas emisji.</p>
                        <span>1</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-who-we-are">
                        <i class="fa fa-credit-card"></i>
                        <h4>Krok 2</h4>
                        <p>Wygodnie płacisz online. Czekasz kilka chwil na weryfikację i publikację treści.</p>
                        <span>2</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-who-we-are">
                        <i class="fa fa-check"></i>
                        <h4>Krok 3</h4>
                        <p>Gotowe. Twoi Klienci widzą reklamę a Ty cieszysz się jej efektami.</p>
                        <span>3</span>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Who We Are Area -->

    <!-- Start Who We Are Area -->
    <section id="customer-intro" class="who-we-are bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2><span>Liczby</span> nie kłamią</h2>
                <p>Każdego dnia staramy się zwiększać zasięg naszej usługi, dołączając kolejnych Partnerów do sieci MyAd.
                    <br/><br/>Abyś jeszcze skuteczniej mógł komunikować się z Klientami.
                    <!-- <br/><br>Te liczby to efekt połączenia zaangażowania naszego zespołu oraz zaufania naszych Klientów. Jesteśmy dumni!</p> -->
            </div>

        </div>
    </section>
    <!-- End Who We Are Area -->

    <!-- Start Fun Fact Area -->

    <!--

        Jesteśmy tam, gdzie Twoi Klienci

        + 300 największych miast

        + 20 000 unikalnych lokalizacji

        + 35 000 zamówionych reklam

        + 26 000 000 000 wyświetleń rocznie

     -->

    <section class="funFacts-area ptb-80">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-map"></i>
                        <h2 class="count">+300</h2>
                        <p>największych miast</p>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-map-marker"></i>
                        <h2 class="count">21000</h2>
                        <p>unikalnych lokalizacji</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-check"></i>
                        <h2 class="count">7000</h2>
                        <p>zamówionych reklam</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-eye"></i>
                        <h2><span class="count">260</span></h2>
                        <p><b>milionów</b> wyświetleń</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fun Fact Area -->

    <!-- Start Services Area -->
    <section id="customer-services" class="services-area ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2>Zasięg <span>Reklamy</span></h2>
                <p>Komunikaty publikowane w MyAd błyskawicznie docierają do Odbiorców.

                    <br/><br/>Dzięki elastyczności usługi, skutecznie zwiększasz świadomość swojej marki wśród Klientów.
                    <br/><br/>Jesteś tam gdzie Oni. Każdego dnia.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/map-r0.png" alt="map-r0-img">
                        </div>

                        <div class="services-content">
                            <h3>Ogólnopolska</h3>
                            <p>Reklama we wszystkich Punktach na terytorium Polski.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/map-r1.png" alt="map-r1-img">
                        </div>

                        <div class="services-content">
                            <h3>Wojewódzka</h3>
                            <p>Reklama we wszystkich Punktach w wybranym województwie.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/map-r2.png" alt="map-r2-img">
                        </div>

                        <div class="services-content">
                            <h3>Powiatowa</h3>
                            <p>Reklama we wszystkich Punktach na terenie wybranego Powiatu.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/map-r3.png" alt="map-r3-img">
                        </div>

                        <div class="services-content">
                            <h3>Miejska</h3>
                            <p>Reklama we wszystkich Punktach w wybranym mieście. Tam gdzie Twoi Klienci. Zawsze.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/map-r4.png" alt="map-r4-img">
                        </div>

                        <div class="services-content">
                            <h3>Mieszana</h3>
                            <p>Reklama we wszystkich Punktach na wybranych obszarach. Tam gdzie Twoi Klienci.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-services">
                        <div class="services-img">
                            <img src="assets/img/map-r5.png" alt="map-r5-img">
                        </div>

                        <div class="services-content">
                            <h3>Geolokalizowana</h3>
                            <p>Reklama we wszystkich Punktach w określonej odległości od miejsca wybranego na mapie.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Services Area -->

    <!-- Start CTR Area -->
    <section class="ctr-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title mb-0">
                        <h2>Chcę zamówić reklamę</h2>
                        <p>Fantastycznie! Zapraszamy do sklepu, gdzie zrobisz to szybko i łatwo.</p>
                        <a href="https://sklep.myad.pl" class="btn btn-primary">Sklep</a>
                        <a href="#faq-customer" class="btn btn-primary view-work">Potrzebujesz porady?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End CRT Area -->

    <!-- Start FAQ Area -->
    <section id="faq-customer" class="faq-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>Często zadawane <span>Pytania</span></h2>
                <p>Poznaj przewagę MyAd nad tradycyjnymi formami reklamy i sprawdź w jaki sposób możesz ją wykorzystać w firmie.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5 class="mb-0">
                                        Jak to działa?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                                <div class="card-body">
                                    Posiadamy punkty reklamowe w większości średnich i dużych miast w Polsce, w lokalach usługowo-handlowych. W tych punktach znajdują się nasze Urządzenia, na których emitowana jest Twoja Reklama (Tablety wielkości +/- 10”). W każdym z tych punktów, Urządzenia postawione są w specjalnie wybranym do tego miejscu, tak aby emitowana na nim Twoja Reklama była widoczna dla każdego gościa/Klienta tego lokalu.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                        Gdzie mogę wyświetlić reklamę?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                                <div class="card-body">
                                    Twoja reklama wyświetli się dokładnie w tych lokalizacjach, które wybrałeś. Może to być pojedyncze miasto, powiat, województwo lub cały kraj.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h5 class="mb-0">
                                        Jak długo wyświetlana jest moja reklama?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                                <div class="card-body">
                                    Okres emisji reklamy określasz Ty w taki sposób, aby był jak najbardziej efektywny dla Twojego biznesu. Może być to jeden konrektny dzień, tydzień lub miesiąc a nawet kwartał.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <h5 class="mb-0">
                                        Jaki jest czas wyświetlania Reklamy na jednym Tablecie?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
                                <div class="card-body">
                                    Twoja Reklama wyświetli się na jednym Urządzeniu nie mniej niż 48 razy w ciągu dnia, w równych odstępach co ok. 10 min.,
                                    z czasem jej trwania 10 sek. (zakładając, że dany lokal jest otwarty tylko 8 godz. dziennie).
                                </div>
                            </div>
                        </div>

                        <div class="card mb-0">
                            <div class="card-header" role="tab" id="headingFive">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <h5 class="mb-0">
                                        Jak zamieścić reklamę?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
                                <div class="card-body">
                                    Wystarczy że wejdziesz do naszego sklepu i wybierzesz odpowiadający Ci rodzaj reklamy (dane podajesz zgodnie z kolejnością pytań).
                                </div>
                            </div>
                        </div>

                        <div class="card mb-0">
                            <div class="card-header" role="tab" id="headingSix">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <h5 class="mb-0">
                                        Ile osób obejrzy moją reklamę?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionEx">
                                <div class="card-body">
                                    Średnia ilość klientów dziennie w jednym lokalu handlowym to 25. Tylu też zobaczy Twoją reklamę.
                                </div>
                            </div>
                        </div>

                        <div class="card mb-0">
                            <div class="card-header" role="tab" id="headingSeven">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <h5 class="mb-0">
                                        Ile osób obejrzy moją reklamę?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordionEx">
                                <div class="card-body">
                                    Średnia w jednym punkcie liczba gości/Klientów odwiedzających to 25 osób / dzień. I tyle obejrzy Twoją reklamę w ciągu jednego dnia na jednym Urządzeniu.
                                </div>
                            </div>
                        </div>

                        <div class="card mb-0">
                            <div class="card-header" role="tab" id="headingEight">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <h5 class="mb-0">
                                        Czy mogę zamówić reklamę inaczej niż przez internet?<i class="fa fa-plus"></i>
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordionEx">
                                <div class="card-body">
                                    Tak. Ze względu na najszybszy dla Ciebie dostęp, głównym kanałem zamówienia reklamy jest nasz sklep internetowy.
                                    Ale oczywiście możesz zamówić reklamę wysyłając nam e-mail (info@myad.pl). Jeżeli jest taka potrzeba, możemy również się spotkać i ustalić szczegóły na miejscu.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End FAQ Area -->

    <!-- Start Contact Area -->
    <section id="contact" class="contact-area ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h4>Nie znalazłeś odpowiedzi?</h4>
                <h2>Porozmawiajmy</h2>
                <p></p>
            </div>

            <div class="row">
                <!-- <div class="col-lg-6 col-md-12">
                    <div id="map"></div>

                    <div class="contact-info">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Al. Jana Pawła II 22, 00-133 Warszawa</li>
                            <li><i class="fa fa-envelope"></i> <a href="#">info@myad.pl</a></li>
                            <li><i class="fa fa-phone"></i> <a href="#">(22) 299 10 89</a></li>
                            <li><i class="fa fa-phone"></i> <a href="#">(22) 299 10 73</a></li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-lg-12 col-md-12">
                    <div class="contact-form">
                        <h4></h4>
                        {{ form_start(advertiserForm, {'method': 'POST', 'action': path('send_email_as_advertiser'), 'attr' : {'novalidate' : 'novalidate', 'id': 'advertiserContactForm', 'class': 'contactForm'}}) }}
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(advertiserForm.name) }}
                                        {{ form_widget(advertiserForm.name) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(advertiserForm.email) }}
                                        {{ form_widget(advertiserForm.email) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        {{ form_label(advertiserForm.phone) }}
                                        {{ form_widget(advertiserForm.phone) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        {{ form_label(advertiserForm.message) }}
                                        {{ form_widget(advertiserForm.message) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn btn-primary">Wyślij</button>
                                    <div id="advertiserContactFormMsgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        {{ form_end(advertiserForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Area -->

    <!-- Start Partner Area -->
    <!-- <section class="partner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="image">
                        <img src="assets/img/about-strategy.jpg" alt="about-strategy">
                    </div>
                </div>

                <div class="col-lg-6 col-md-7">
                    <div class="about-strategy ptb-80">
                        <div class="section-title">
                            <h4>Highly Creative Solutions</h4>
                            <h2>About <span>Strategy</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <ul>
                            <li><i class="fa fa-check"></i>Creative Design</li>
                            <li><i class="fa fa-check"></i>Retina Ready</li>
                            <li><i class="fa fa-check"></i>Responsive Design</li>
                            <li><i class="fa fa-check"></i>Modern Design</li>
                            <li><i class="fa fa-check"></i>Awesome Design</li>
                            <li><i class="fa fa-check"></i>Digital Marketing & Branding</li>
                        </ul>

                        <a href="#" class="btn btn-primary">Zamów</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Partner Area -->

    <!-- Start MyAd Banner -->
    <!-- <div id="home-partner" class="main-banner item-bg-partner">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-banner-text">
                                <h4>Wspieraj lokalny biznes</h4>
                                <h1><span>Reklama</span> dopasowana do <span>Twojej firmy</span></h1>
                                <p>Reklamuj swoją firmę</p>
                                <a href="#welcome" class="btn btn-primary">Dołącz do nas</a>
                                <a href="#work" class="btn btn-primary view-work">Zamów reklamę</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End MyAd Banner -->

    <!-- Start Subscribe Area-->
    <!-- <section class="subscribe-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="newsletter">
                        <h4>Join Our Newsletter</h4>
                        <form>
                            <input type="email" class="form-control" placeholder="Your Email Address" name="email">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Subscribe Area-->

    <!-- Start About-us Banner -->
    <div id="home-partner" class="partner-banner item-bg-partner">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-banner-text">
                                <h4><strong>Wspieraj </strong>swój biznes</h4>
                                <h1>Zarabiaj na reklamie w swoim lokalu</span></h1>
                                <p>apteki | piekarnie | salony fryzjerskie | salony urody i kosmetyczne</p>
                                <a href="#partner-join" class="btn btn-primary">Chcę dołączyć do MyAd</a>
                                <a href="#partner-statistics" class="btn btn-primary view-work">Jak to działa?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About-us Banner -->

    <!-- Start Skill Area -->
    <section id="partner-statistics" class="skill-area ptb-80 bg-fafafa">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="image">
                        <!-- <img src="assets/img/icons/partner-icon.svg" width="100%"/> -->
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="about-skill">
                        <div class="section-title">
                            <h2>Nasi <span>Partnerzy</span></h2>
                            <p>Rozkład procentowy sieci wg rodzaju prowadzonej działalności</p>
                        </div>

                        <h3 class="progress-title">APTEKI 40%</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:40%;">
                                <!-- <div class="progress-value">40%</div> -->
                            </div>
                        </div>

                        <h3 class="progress-title">PIEKARNIE 25%</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:25%;">
                                <!-- <div class="progress-value">25%</div> -->
                            </div>
                        </div>

                        <h3 class="progress-title">SALONY FRYZJERSKIE 25%</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:25%;">
                                <!-- <div class="progress-value">25%</div> -->
                            </div>
                        </div>

                        <h3 class="progress-title">SALONY KOSMETYCZNE I URODY 10%</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:10%;">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Skill Area -->

    <!-- Start Investor-Welcome Area -->
    <section id="investor-welcome" class="welcome-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h4>Podoba mi się ten pomysł!</h4>
                <h2>Jasne zasady</h2>
                <p>Współpracujemy z ludźmi, którzy cenią sobie te same wartości i podobnie postrzegają rzeczywistość. <br/><br/>Cenimy ponad wszystko prostotę i przejrzystość w tym co robimy.<br/><br/><strong>Dołącz do nas. Zmieniajmy wspólnie otaczający nas świat.</strong></p>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-box">
                        <i class="fa fa-pencil-square-o icon"></i>
                        <h3>Umowa na 24 miesiące</h3>
                        <p>Przejrzysta i jasna. Po co komplikować oczywiste sprawy?</p>
                        <a href="#about" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="single-box">
                        <i class="fa fa-credit-card icon"></i>
                        <h3>Kwartalne wypłaty</h3>
                        <p>Bezgotówkowe, prosto na Twoje konto.</p>
                        <a href="#about" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Investor-Welcome Area -->

    <!-- Start Why We Are Different -->
    <section id="partner-join" class="why-we-different ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2>To się <span>opłaca</span></h2>
                <p>Dołącz do MyAd i zarabiaj na reklamie.</p>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div class="contact-form">
                        {{ form_start(partnerForm, {'method': 'POST', 'action': path('send_email_as_partner'), 'attr' : {'novalidate' : 'novalidate', 'id': 'partnerContactForm', 'class': 'contactForm'}}) }}
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partnerForm.name) }}
                                        {{ form_widget(partnerForm.name) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partnerForm.email) }}
                                        {{ form_widget(partnerForm.email) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        {{ form_label(partnerForm.phone) }}
                                        {{ form_widget(partnerForm.phone) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn btn-primary">Chcę dołączyć do MyAd</button>
                                    <div id="partnerContactFormMsgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        {{ form_end(partnerForm) }}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12"><br/></div>
            </div>
        </div>
    </section>
    <!-- End Why Are Different -->

    <!-- Start Investor Banner -->
    <div id="home-investor" class="main-banner item-bg-investor">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-banner-text">
                                <h4>Inwestuj w <strong>MyAd</strong></h4>
                                <h1>Zarabiajmy wspólnie na reklamie</h1>
                                <p>apteki | piekarnie | salony fryzjerskie | salony kosmetyczne</p>
                                <a href="#investor-price" class="btn btn-primary">Chcę zainwestować</a>
                                <a href="#investor-rules" class="btn btn-primary view-work">Chcę poznać zasady</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Investor Banner -->

    <!-- Start Investor-Welcome Area -->
    <section id="investor-rules" class="welcome-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h4>Zarabiaj na reklamie</h4>
                <h2>Jasne zasady</h2>
                <p>Finansujesz zakup urządzeń wyświetlających dla Partnerów. My je dostarczany, utrzymujemy i dbamy o to by wyświetlały jak najwięcej reklam.
                    Dzięki Twojemu kapitałowi, dynamicznie zwiększamy zasieg i wysokość zysków.<br/><br/>
                    Współpracujemy z ludźmi, którzy cenią sobie te same wartości i podobnie postrzegają rzeczywistość.<br/><br/>Stawiamy ponad wszystko prostotę i przejrzystość w tym co robimy.<br/><br/>
                    <strong>Dołącz do nas i zarabiaj na reklamie.</strong></p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-box">
                        <i class="fa fa-pencil-square-o icon"></i>
                        <h3>Umowa na 24 miesiące</h3>
                        <p>Przejrzysta i jasna. Po co komplikować proste sprawy.</p>
                        <a href="#about" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-box">
                        <i class="fa fa-credit-card icon"></i>
                        <h3>Wypłaty</h3>
                        <p>Bezgotówkowe, kwartalne lub miesięczne na wskazane konto.</p>
                        <a href="#about" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-box">
                        <i class="fa fa-money icon"></i>
                        <h3>Kapitał</h3>
                        <p>Cenimy Twój czas i pozostawiamy go Tobie. Zajmujemy się wszystkim.</p>
                        <a href="#about" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Investor-Welcome Area -->

    <!-- Start How We Work -->
    <!-- <section class="how-work ptb-80">
        <div class="container">

            <div class="section-title">
                <h4>Klucz do sukcesu</h4>
                <h2>Dobry plan</h2>
                <p>Cel bez jasnego i skutecznego planu realizacji nie ma sensu.<br/><br/>Poznaj nasz</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-how-work">
                        <h3>A</h3>
                        <h4>Umowa</h4>
                        <p>Podpisanie Umowy o Współpracy</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-how-work">
                        <h3>B</h3>
                        <h4>Realizacja</h4>
                        <p>Wprowadzenie Urządzeń na rynek</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-how-work">
                        <h3>C</h3>
                        <h4>Satysfakcja</h4>
                        <p>Generowanie zysków</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End How We Work -->

    <!-- Start Price Area -->
    <section id="investor-price" class="price-area ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2>Oferta <span>dla Ciebie</span></h2>
                <p><strong>Zasady są proste</strong>

                    </br><br/>Inwestując kapitał w MyAd finansujesz zakup Urządzeń dla Partnerów.<br/> Zarabiasz na prowizji ze sprzedanych reklam.<br/></br>Dopasuj plan inwestycji do wielkości kapitału, którym dysponujesz.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pricingTable">
                        <h3 class="title">25</h3>
                        <div class="price-value">
                            <span class="currency"></span>
                            <span class="amount">30 000</span>
                            <span class="month">złotych netto</span>
                        </div>
                        <ul class="pricing-content">
                            <li><i class="fa fa-check"></i> 25 Urządzeń</li>
                            <li><i class="fa fa-check"></i> 24 miesiące współpracy</li>
                            <li><i></i></li>
                            <li><i class="fa fa-check"></i> Wypłaty kwartalne</li>
                            <li><i class="fa fa-check"></i> Do 3 750 zł netto</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Inwestuję</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="pricingTable">
                        <h3 class="title">50</h3>
                        <div class="price-value">
                            <span class="currency"></span>
                            <span class="amount">60 000</span>
                            <span class="month">złotych netto</span>
                        </div>
                        <ul class="pricing-content">
                            <li><i class="fa fa-check"></i> 50 Urządzeń</li>
                            <li><i class="fa fa-check"></i> 24 miesiące współpracy</li>
                            <li><i></i></li>
                            <li><i class="fa fa-check"></i> Wypłaty kwartalne</li>
                            <li><i class="fa fa-check"></i> Do 11 250 zł netto</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Inwestuję</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="pricingTable">
                        <h3 class="title">100</h3>
                        <div class="price-value">
                            <!-- <span class="currency"></span> -->
                            <span class="amount">120 000</span>
                            <span class="month">złotych netto</span>
                        </div>
                        <ul class="pricing-content">
                            <li><i class="fa fa-check"></i> 100 Urządzeń</li>
                            <li><i class="fa fa-check"></i> 24 miesiące współpracy</li>
                            <li><i></i></li>
                            <li><i class="fa fa-check"></i> Wypłaty miesięczne</li>
                            <li><i class="fa fa-check"></i> Do 10 000 zł netto</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Inwestuję</a>
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-6 offset-md-3 offset-lg-0">
                    <div class="pricingTable">
                        <h3 class="title">PLATINUM</h3>
                        <div class="price-value">
                            <!-- <span class="currency"></span> -->
                <!-- <span class="amount">500 000</span>
                <span class="month">złotych netto</span>
            </div>
            <ul class="pricing-content">
                <li><i class="fa fa-check"></i> 500 Urządzeń</li>
                <li><i class="fa fa-check"></i> Pomoc techniczna</li>
                <li><i class="fa fa-check"></i> 24 miesięce współpracy</li>
                <li><i></i></li>
                <li><i class="fa fa-check"></i> <strong>Wypłaty miesięczne</strong></li>
                <li><i class="fa fa-check"></i> Do 75 000 zł netto</li>
            </ul>
            <a href="#" class="btn btn-primary">Inwestuję</a>
        </div>
    </div> -->
            </div>
        </div>
    </section>
    <!-- End Price Area -->

    <!-- Start Fun Fact Area -->
    <section class="funFacts-area ptb-80">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-shield"></i>
                        <h2 class="count">957</h2>
                        <p>Kampanii</p>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-users"></i>
                        <h2 class="count">639</h2>
                        <p>Zadowolonych Klientów</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-trophy"></i>
                        <h2 class="count">210</h2>
                        <p>Inwestorów</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="funFact">
                        <i class="fa fa-smile-o"></i>
                        <h2><span class="count">21</span></h2>
                        <p>Osób w MyAd</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fun Fact Area -->

    <!-- Start Why We Are Different -->
    <section id="investor-join" class="why-we-different ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2>To się <span>opłaca</span></h2>
                <p>Porozmawiajmy o ofercie jaką dla Ciebie przygotowaliśmy.</p>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div class="contact-form">
                        <h4>Jestem zainteresowany współpracą</h4>
                        {{ form_start(investorForm, {'method': 'POST', 'action': path('send_email_as_investor'), 'attr' : {'novalidate' : 'novalidate', 'id': 'investorContactForm', 'class': 'contactForm'}}) }}
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(investorForm.name) }}
                                        {{ form_widget(investorForm.name) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_label(investorForm.email) }}
                                        {{ form_widget(investorForm.email) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        {{ form_label(investorForm.phone) }}
                                        {{ form_widget(investorForm.phone) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        {{ form_label(investorForm.message) }}
                                        {{ form_widget(investorForm.message) }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn btn-primary">Wyślij</button>
                                    <div id="investorContactFormMsgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        {{ form_end(investorForm) }}
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    </br>
                </div>

                <div class="col-lg-12 col-md-12">

                    <div class="contact-info">
                        <ul>
                            <li><i class="fa fa-envelope"></i> <a href="#">inwestor@myad.pl</a></li>
                            <li><i class="fa fa-phone"></i> <a href="#">(22) 299 10 89</a></li>
                            <li><i class="fa fa-phone"></i> <a href="#">(22) 299 10 73</a></li>
                        </ul>
                    </div>
                </div>



            </div>

        </div>
    </section>
    <!-- End Why Are Different -->

    <!-- Start Team Banner -->
    <div id="home-team" class="main-banner item-bg-about">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-banner-text">
                                <h4>Zgrany Zespół</h4>
                                <h1>„Rób to co kochasz a nie przepracujesz ani jednego dnia”</h1>
                                <p>Tak też robimy!</p>
                                <a href="#team" class="btn btn-primary">Poznajmy się</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Banner -->

    <!-- Start Team Area -->
    <section id="team" class="team-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h4>Poznajmy się</h4>
                <h2>Nasz <span>Zespół</span></h2>
                <p-max>Jesteśmy przede wszystkim, dobrymi kumplami, którzy patrzą podobnie na świat. <br/></br>Budujemy wspólnie usługę o wielkiej wartości dla zwykłych ludzi i przedsiębiorców. <br/></br>Model biznesowy opieramy na współpracy między Reklamodawcami i Partnerami - właścicielami lokali, w których są urządzenia wyświetlające treści. <br/>Wierzymy w sukces MyAd i konsekwentnie realizujemy plan, wykorzystując do tego nasze wieloletnie doświadczenie z branży IT.
                    <br/><br/>Każdy z nas jest pasjonatem nowych technologii i ma co najmniej 10 lat praktyki zawodowej.</br></br>Na codzień zajmujemy się doradztwem w zakresie technologii informacyjnych zagranicznym klientom.

                    Robimy to, co kochamy! Daje nam to niesamowitą satysfakcję i radość każdego dnia.</p-max>
            </div>

            <div class="row">
                <div class="team-slider">
                    <div class="col-lg-12">
                        <div class="our-team">
                            <div class="pic">
                                <img src="assets/img/team/avatar-rb.png" alt="avatar">
                            </div>

                            <div class="team-content">
                                <h3 class="title">Rafał Bociek</h3>
                                <span class="post">CEO</span>
                            </div>

                            <div class="social">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-team">
                            <div class="pic">
                                <img src="assets/img/team/avatar-ep.png" alt="avatar emil paradowski">
                            </div>

                            <div class="team-content">
                                <h3 class="title">Emil Paradowski</h3>
                                <span class="post">Dyrektor ds. Administracyjnych</span>
                            </div>

                            <div class="social">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-team">
                            <div class="pic">
                                <img src="assets/img/team/avatar-mu.png" alt="avatar marcin ugarenko">
                            </div>

                            <div class="team-content">
                                <h3 class="title">Marcin Ugarenko</h3>
                                <span class="post">Starszy Inżynier Oprogramowania</span>
                            </div>

                            <div class="social">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-team">
                            <div class="pic">
                                <img src="assets/img/team/avatar-pm.png" alt="avatar piotr marzec">
                            </div>

                            <div class="team-content">
                                <h3 class="title">Piotr Marzec</h3>
                                <span class="post">Starszy Inżynier Oprogramowania</span>
                            </div>

                            <div class="social">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-team">
                            <div class="pic">
                                <img src="assets/img/team/avatar-mb.png" alt="avatar marcin boroń">
                            </div>

                            <div class="team-content">
                                <h3 class="title">Marcin Boroń</h3>
                                <span class="post">Starszy Inżynier Oprogramowania</span>
                            </div>

                            <div class="social">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="our-team">
                            <div class="pic">
                                <img src="assets/img/team/avatar-mr.png" alt="avatar mikołaj rządca">
                            </div>

                            <div class="team-content">
                                <h3 class="title">Mikołaj Rządca</h3>
                                <span class="post">Administrator / Starszy Inżynier DevOps</span>
                            </div>

                            <div class="social">
                                <ul>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Area -->


    <!-- Start Work Area -->
    <!-- <section id="work" class="work-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h2>Our <span>Work</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="shorting-menu">
                        <button class="filter" data-filter="all">All</button>
                        <button class="filter" data-filter=".brand">Brand</button>
                        <button class="filter" data-filter=".design">Design</button>
                        <button class="filter" data-filter=".graphic">Graphic</button>
                        <button class="filter" data-filter=".photoshop">Photoshop</button>
                        <button class="filter" data-filter=".illustrator">Illustrator</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="shorting">
            <div class="row m-0">
                <div class="col-lg-4 col-md-6 mix brand p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img1.jpg" alt="work-img">

                        <div class="work-content">
                            <h4>Creative Design</h4>
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li>.</li>
                                <li><a href="#">Brand</a></li>
                            </ul>
                        </div>

                        <a href="assets/img/work-img1.jpg" class="popup-btn"><i class="fa fa-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix design p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img2.jpg" alt="work-img">

                        <div class="work-content">
                            <h4>Creative Design</h4>
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li>.</li>
                                <li><a href="#">Brand</a></li>
                            </ul>
                        </div>

                        <a href="assets/img/work-img2.jpg" class="popup-btn"><i class="fa fa-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix graphic p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img3.jpg" alt="work-img">

                        <div class="work-content">
                            <h4>Creative Design</h4>
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li>.</li>
                                <li><a href="#">Brand</a></li>
                            </ul>
                        </div>

                        <a href="assets/img/work-img3.jpg" class="popup-btn"><i class="fa fa-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix photoshop p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img4.jpg" alt="work-img">

                        <div class="work-content">
                            <h4>Creative Design</h4>
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li>.</li>
                                <li><a href="#">Brand</a></li>
                            </ul>
                        </div>

                        <a href="assets/img/work-img4.jpg" class="popup-btn"><i class="fa fa-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix design p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img5.jpg" alt="work-img">

                        <div class="work-content">
                            <h4>Creative Design</h4>
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li>.</li>
                                <li><a href="#">Brand</a></li>
                            </ul>
                        </div>

                        <a href="assets/img/work-img5.jpg" class="popup-btn"><i class="fa fa-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix illustrator p-0">
                    <div class="single-work">
                        <img src="assets/img/work-img6.jpg" alt="work-img">

                        <div class="work-content">
                            <h4>Creative Design</h4>
                            <ul>
                                <li><a href="#">Design</a></li>
                                <li>.</li>
                                <li><a href="#">Brand</a></li>
                            </ul>
                        </div>

                        <a href="assets/img/work-img6.jpg" class="popup-btn"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Work Area -->



    <!-- Start Testimonials Area -->
    <!-- <section class="testimonials-area ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2>Opinie <span>Partnerów</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feedback">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/img/client-avatar1.jpg" alt="client-avatar">
                            </div>

                            <div class="client-title">
                                <h4>James Anderson</h4>
                                <h5>CEO of Facebook</h5>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>

                        <span><i class="fa fa-quote-left"></i></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-feedback">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/img/client-avatar2.jpg" alt="client-avatar">
                            </div>

                            <div class="client-title">
                                <h4>Alex Smith</h4>
                                <h5>CEO of Twitter</h5>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>

                        <span><i class="fa fa-quote-right"></i></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-feedback">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/img/client-avatar3.jpg" alt="client-avatar">
                            </div>

                            <div class="client-title">
                                <h4>Olivia Smith</h4>
                                <h5>CEO of Envytheme</h5>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>

                        <span><i class="fa fa-quote-left"></i></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-feedback">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/img/client-avatar1.jpg" alt="client-avatar">
                            </div>

                            <div class="client-title">
                                <h4>James Anderson</h4>
                                <h5>CEO of Facebook</h5>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>

                        <span><i class="fa fa-quote-left"></i></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-feedback">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/img/client-avatar2.jpg" alt="client-avatar">
                            </div>

                            <div class="client-title">
                                <h4>Alex Smith</h4>
                                <h5>CEO of Twitter</h5>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>

                        <span><i class="fa fa-quote-right"></i></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-feedback">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/img/client-avatar3.jpg" alt="client-avatar">
                            </div>

                            <div class="client-title">
                                <h4>Olivia Smith</h4>
                                <h5>CEO of Envytheme</h5>
                            </div>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>

                        <span><i class="fa fa-quote-left"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Testimonials Area -->

    <!-- Start Blog Area -->
    <!-- <section id="blog" class="blog-area ptb-80">
        <div class="container">
            <div class="section-title">
                <h4>Our News</h4>
                <h2>Latest Blog <span>Posts</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="row">
                <div class="blog-slider">
                    <div class="col-lg-12 col-md-12">
                        <div class="single-blog-item" style="background-image: url(assets/img/services-img1.jpg)">
                            <span>Business & Tech</span>
                            <h4><a href="single-post.html">The best gear for starting a small business</a></h4>
                            <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>

                            <a href="single-post.html" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-blog-item" style="background-image: url(assets/img/services-img2.jpg)">
                            <span>Business & Tech</span>
                            <h4><a href="single-post.html">Get your first business suit right with these tips</a></h4>
                            <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>

                            <a href="single-post.html" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-blog-item" style="background-image: url(assets/img/services-img3.jpg)">
                            <span>Design & IT</span>
                            <h4><a href="single-post.html">How to Make a Font - Font Design Full Process</a></h4>
                            <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>

                            <a href="single-post.html" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-blog-item" style="background-image: url(assets/img/services-img4.jpg)">
                            <span>Marketing & Trend</span>
                            <h4><a href="single-post.html">10 Hot Marketing Trends You Need to Implement in 2018</a></h4>
                            <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>

                            <a href="single-post.html" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-blog-item" style="background-image: url(assets/img/services-img5.jpg)">
                            <span>Business & Tech</span>
                            <h4><a href="single-post.html">How to Be a Work From Home Professional</a></h4>
                            <p> Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>

                            <a href="single-post.html" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Blog Area -->

    <!-- Start Partner Area -->
    <!-- <div class="partner-area ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="row">
                <div class="partner-slider">
                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-4.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-5.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-6.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-1.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-2.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-3.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-4.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-5.png" alt="partner"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="item">
                            <a href="#"><img src="assets/img/partner-6.png" alt="partner"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Partner Area -->

    <!-- Start Why We Are Different -->
    <section id="investor-join" class="why-we-different ptb-80 bg-f6f6f6">
        <div class="container">
            <div class="section-title">
                <h2><span>Kontakt</span></h2>
                <p>Dane firmowe</p>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12">
                    <div id="map"></div>
                </div>

                <div class="col-lg-12 col-md-12"></br></div>

                <div class="col-lg-12 col-md-12">

                    <div class="contact-info">
                        <ul>
                            <li><i class="fa fa-envelope"></i>MyAd Sp. z o.o.<br/><br/>Al. Jana Pawła II 22<br/>00-133 Warszawa<br/></li>
                            <li><i class="fa fa-at"></i> <a href="#">info@myad.pl</a></li>
                            <li><i class="fa fa-phone"></i> <a href="#">(22) 299 10 89</a></li>
                            <li><i class="fa fa-phone"></i> <a href="#">(22) 299 10 73</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12"></br></div>

                <div class="contact-info">
                    <ul>
                        <li><i class="fa fa-info"></i>REGON 380915819, NIP 5252758331</li>
                        <li><i class="fa fa-info"></i></li>
                        <li><i class="fa fa-money"></i>KRS 0000741552, Sąd Rejonowy dla m.st. Warszawy, XII Wydział Gospodarczy Krajowego Rejestru Sądowego, Kapitał Zakładowy 100.000,00 PLN - wpłacony w całości.</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>
    <!-- End Why Are Different -->

    <!-- Start Footer Area -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h4> <a href="{{ path('homepage') }}"><img src="assets/img/logo.png" width="10%"/></a> </h4>
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-skype"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                    <p>Copyright <i class="fa fa-copyright"></i> 2018 All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <div class="go-top"><i class="fa fa-angle-up"></i></div>
{% endblock %}
