<!DOCTYPE html>
<html>
<body>
<p>Nadawca: {{ data.name }}</p>
<p>E-mail: {{ data.email }}</p>
<p>Nr. telefonu: {{ data.phone }}</p>
<hr>
{{ data.message }}
<hr>
<p>Ta wiadomość została wysłana z formularza kontaktowego dla inwestorów zamieszczonego na stronie zarabiajnareklamie.pl.</p>
</body>
</html>