{% extends 'admin.html.twig' %}

{% block title %}Classifieds{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Show Classified</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                {{ include('classified/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row" style="width: 20%">Region</th>
                <td>{{ classified.region }}</td>
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td>{{ classified.category }}</td>
            </tr>
            <tr>
                <th scope="row">Header</th>
                <td>{{ classified.header }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ classified.description }}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td>{{ classified.city }}</td>
            </tr>
            <tr>
                <th scope="row">Phone</th>
                <td>{{ classified.phone }}</td>
            </tr>
            <tr>
                <th scope="row">Shoper Product Id</th>
                <td>{{ classified.shoperProductId|default('empty')  }}</td>
            </tr>
            <tr>
                <th scope="row">Started At</th>
                <td>{{ classified.startedAt ? classified.startedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th scope="row">Duration</th>
                <td>
                    {% transchoice classified.duration %}
                        {1} %count% day|]1,Inf[ %count% days
                    {% endtranschoice %}
                </td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td>{{ classified.price|number_format }} PLN</td>
            </tr>
            <tr>
                <th scope="row">Firebase Id</th>
                <td>{{ classified.firebaseId|default('empty') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
