{% extends 'admin.html.twig' %}

{% block title %}New Partner{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Create new Partner</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('partner_index') }}" role="button">Back to list</a>
            </div>
        </div>
    </div>
    {{ include('partner/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#partner_devices').select2();
        });
    </script>
{% endblock %}