{% extends 'admin.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Partner</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                {{ include('partner/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <th style="width: 20%">Name</th>
                <td>{{ partner.name }}</td>
            </tr>
            <tr>
                <th>Contact Email</th>
                <td>{{ partner.contactEmail }}</td>
            </tr>
            <tr>
                <th>Contact Name</th>
                <td>{{ partner.contactName }}</td>
            </tr>
            <tr>
                <th>Contact Phone</th>
                <td>{{ partner.contactPhone }}</td>
            </tr>
            <tr>
                <th>Address Street</th>
                <td>{{ partner.addressStreet }}</td>
            </tr>
            <tr>
                <th>Address Postal</th>
                <td>{{ partner.addressPostal }}</td>
            </tr>
            <tr>
                <th>Address City</th>
                <td>{{ partner.addressCity }}</td>
            </tr>
            <tr>
                <th>Business Category</th>
                <td>{{ partner.businessCategory }}</td>
            </tr>
            <tr>
                <th>Business Domain</th>
                <td>{{ partner.businessDomain }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>
                    {% if partner.active%}
                        <span class="badge badge-success">Yes</span>
                    {% else %}
                        <span class="badge badge-danger">No</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Firebase Id</th>
                <td>{{ partner.firebaseId|default('empty') }}</td>
            </tr>
        </tbody>
    </table>

    {% set devices = partner.devices %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="h4">Partner Devices</h4>
    </div>
    {% if devices|length > 0 %}
        {% for device in devices %}
            <div class="device-item alert alert-dark" role="alert" data-device="{{ device.id }}">
                <strong>{{ device.androidId }}</strong> {{ device.region }}
                <a class="close" aria-label="Close" href="{{ path('partner_unassign', {'partner': partner.id, 'device': device.id}) }}" onclick="return confirm('Are you sure you want to unassign this device?')">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
        {% endfor %}
    {% else %}
        Unable to find any assigned devices
    {% endif %}


{% endblock %}

{% block javascripts %}
    {#<script>#}
        {#$('.device-item').on('close.bs.alert', function (event) {#}
            {#console.log($(this).data('device'));#}

            {#return false;#}
        {#})#}
    {#</script>#}
{% endblock %}