<form method="post" action="{{ path('device_delete', {'id': device.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ device.id) }}">
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('device_index') }}" role="button">Back to list</a>
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('device_edit', {'id': device.id}) }}" role="button">Edit</a>
    <button class="btn btn-sm btn-outline-secondary">Delete</button>
</form>
