{% extends 'admin.html.twig' %}

{% block title %}Edit Device{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Device</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('device_index') }}" role="button">Back to list</a>
            </div>
        </div>
    </div>

    {{ include('device/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}