{% extends 'admin.html.twig' %}

{% block title %}Devices{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Devices</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-sm btn-danger" href="{{ path('collection_remove', {'name': 'device'}) }}" role="button" onclick="return confirm('Warning!!! Are you sure you want to delete this collection?');">Remove collection</a>
                {% endif %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('device_new') }}" role="button">Create new item</a>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Android Id</th>
                <th>Enabled</th>
                <th>Fireabase Id</th>
                <th style="width: 18%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.androidId }}</td>
                <td>
                    {% if device.enabled%}
                        <span class="badge badge-success">Yes</span>
                    {% else %}
                        <span class="badge badge-danger">No</span>
                    {% endif %}
                </td>
                <td>{{ device.firebaseId }}</td>
                <td>
                    {% include 'includes/actions.html.twig' with {'obj': device, 'prefix': 'device'} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
