{% extends 'admin.html.twig' %}

{% block title %}New Device{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Create new Device</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('device_index') }}" role="button">Back to list</a>
            </div>
        </div>
    </div>
    {{ include('device/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#cancelButton').on('click', function () {
            window.location.href = "/agreements/privacy-policy/";
        });

        $(document).ready(function() {
            $('#device_region').select2();
        });
    </script>
{% endblock %}