{% extends 'admin.html.twig' %}

{% block title %}Device{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Show Device</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                {{ include('device/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <th style="width: 20%">Android Id</th>
                <td>{{ device.androidId }}</td>
            </tr>
            <tr>
                <th>Shoper Id</th>
                <td>{{ device.shoperId|default('empty') }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ device.region }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ device.category }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ device.color|default('empty') }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>
                    {% if device.enabled%}
                        <span class="badge badge-success">Yes</span>
                    {% else %}
                        <span class="badge badge-danger">No</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Firebase Id</th>
                <td>{{ device.firebaseId|default('empty') }}</td>
            </tr>
            <tr>
                <th>Playlist Reference</th>
                <td>{{ device.playlistReference|default('empty') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
