<form method="post" action="{{ path('image_delete', {'id': image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('image_index') }}" role="button">Back to list</a>
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('image_edit', {'id': image.id}) }}" role="button">Edit</a>
    <button class="btn btn-sm btn-outline-secondary">Delete</button>
</form>
