{% extends 'admin.html.twig' %}

{% block title %}Edit Image{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Image</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('image_index') }}" role="button">Back to list</a>
            </div>
        </div>
    </div>

    {{ include('image/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#image_source').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            console.log(fileName);
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        });

        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minuteStep: 30
        });
    </script>
{% endblock %}