{% extends 'admin.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Images</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-sm btn-danger" href="{{ path('collection_remove', {'name': 'image'}) }}" role="button" onclick="return confirm('Warning!!! Are you sure you want to delete this collection?');">Remove collection</a>
                {% endif %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('image_new') }}" role="button">Create new item</a>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Firebase Id</th>
                <th class="tb_action_bar">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td class="myad-code">{{ image.code }}</td>
                <td>{{ image.firebaseId }}</td>
                <td>
                    {% include 'includes/actions.html.twig' with {'obj': image, 'prefix': 'image', 'syncLabel': 'distribute'} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
