{% extends 'admin.html.twig' %}

{% block title %}Show Image{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Show Image</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                {{ include('image/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <table class="table table-borderless">
        <tbody>
        <tr>
            <th scope="row" style="width: 20%">Region</th>
            <td>{{ image.region }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ image.category }}</td>
        </tr>
        <tr>
            <th>Image source</th>
            <td>
                <div>
                    <figure class="figure">
                        <img src="{{ asset('uploads/images/' ~ image.source) }}" class="img-thumbnail" alt="{{ image.code }}">
                        <figcaption class="figure-caption">
                            <a href="{{ asset('uploads/images/' ~ image.source) }}" target="_blank">Show original file</a>
                        </figcaption>
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <th>Started At</th>
            <td>{{ image.startedAt ? image.startedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>
                {% transchoice image.duration %}
                    {1} %count% day|]1,Inf[ %count% days
                {% endtranschoice %}
            </td>
        </tr>
        <tr>
            <th scope="row">Price</th>
            <td>{{ image.price|number_format }} PLN</td>
        </tr>
        <tr>
            <th>Firebase Id</th>
            <td>{{ image.firebaseId|default('empty') }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ image.url|default('empty') }}</td>
        </tr>
        <tr>
            <th>Download url</th>
            <td>{{ image.downloadUrl|default('empty') }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}