{% extends 'admin.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Devices</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>{{ devices.local|length }} local items</li>
                <li>{{ devices.sync|length }} synchronized items</li>
                <li>{{ devices.firebase|length }} firebase items</li>
                <li>{{ playlists|length }} playlist items</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{ path('device_index') }}">Show more</a>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Partners</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>{{ partners.local|length }} local items</li>
                <li>{{ partners.sync|length }} synchronized items</li>
                <li>{{ partners.firebase|length }} firebase items</li>
                <li>&nbsp;</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{ path('partner_index') }}">Show more</a>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Classifieds</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>{{ classifieds.local|length }} local items</li>
                <li>{{ classifieds.sync|length }} synchronized items</li>
                <li>{{ classifieds.firebase|length }} firebase items</li>
                <li>&nbsp;</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{ path('classified_index') }}">Show more</a>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Images</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>{{ images.local|length }} local items</li>
                <li>{{ images.sync|length }} synchronized items</li>
                <li>{{ images.firebase|length }} firebase items</li>
                <li>&nbsp;</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{ path('image_index') }}">Show more</a>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Videos</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>{{ videos.local|length }} local items</li>
                <li>{{ videos.sync|length }} synchronized items</li>
                <li>{{ videos.firebase|length }} firebase items</li>
                <li>&nbsp;</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{ path('video_index') }}">Show more</a>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}{% endblock %}