<a class="btn btn-sm btn-outline-primary" href="{{ path(prefix ~ '_show', {'id': obj.id}) }}">show</a>
<a class="btn btn-sm btn-outline-primary" href="{{ path(prefix ~ '_edit', {'id': obj.id}) }}">edit</a>
<a class="btn btn-sm btn-danger {{ obj.firebaseId is not empty ? 'disabled' : '' }}"  href="{{ path(prefix ~ '_sync', {'id': obj.id}) }}" onclick="return confirm('Are you sure you want to synchronize this item with Firebase?');">{{ syncLabel|default('sync')  }}</a>