@media only screen and (max-width : 767px) {
	.ptb-80 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.owl-theme .owl-nav [class*="owl-"] {
		top: auto;
		bottom: 0;
		left: 0;
	}
	.owl-theme .owl-nav .owl-next {
		left: auto;
		right: 0;
	}
	.section-title {
		margin-bottom: 40px;
	}
	.section-title h4 {
		font-size: 18px;
	}
	.section-title h2 {
		font-size: 30px;
	}
	.section-title p {
		font-size: 15px;
	}
    .navbar {
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar-light .navbar-brand {
		color: #000;
		padding-top: 0;
	}
	.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
		color: #000;
	}
	.navbar-light .navbar-nav .nav-link {
		color: #000;
	}
	.navbar-light .navbar-toggler {
		border-color: #e71d36;
	}
	.navbar-light .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231, 29, 54, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	.main-banner {
		height: 600px;
	}
	.creative-banner-one {
		border-width: 5rem 100vw 0 0;
	}
	.creative-banner-two::before {
		border-top: 90px solid transparent;
	}
	.creative-banner-two::after {
		border-top: 90px solid transparent;
	}
	.creative-banner-three::before {
		height: 40px;
		background-size: cover;
		bottom: 0;
	}
	.main-banner-text h4 {
		font-size: 22px;
		letter-spacing: 0;
	}
	.main-banner-text h1 {
		font-size: 38px;
		margin-top: 20px;
		margin-bottom: 25px;
		letter-spacing: 0;
		line-height: 47px;
	}
	.main-banner-text p {
		font-size: 15px;
	}
	.main-banner-text .view-work {
		margin-left: 0;
	}
	.welcome-area {
		padding-bottom: 20px;
	}
	.welcome-area .section-title h2 {
		line-height: 1.3;
		margin-top: -3px;
	}
	.single-box {
		margin-bottom: 30px;
	}
	.about-addax .section-title h2 {
		line-height: 1.4;
		margin-top: -10px;
	}
	.about-addax .pull-left {
		margin-right: 0;
		float: none;
		margin-bottom: 10px;
	}
	.about-video {
		margin-top: 30px;
	}
	.about-video .video-btn a {
		width: 60px;
		height: 60px;
		line-height: 65px;
		font-size: 25px;
	}
	.about-video .video-btn a::before, .about-video .video-btn a::after {
		left: -5px;
		top: -5px;
		height: 70px;
		width: 70px;
	}
	.strategy-area .image {
		display: none;
	}
	.about-strategy {
		padding-left: 50px;
		padding-right: 50px;
	}
	.who-we-are {
		padding-bottom: 20px;
	}
	.single-who-we-are {
		padding: 35px 20px;
	}
	.ctr-area .section-title h2 {
		margin-top: 25px;
		margin-bottom: 25px;
		line-height: 1.3;
	}
	.ctr-area .section-title p {
		margin-bottom: 30px;
	}
	.about-skill .section-title {
		padding-left: 30px;
	}
	.about-skill .section-title::before, .about-skill .section-title::after {
		display: block;
	}
	.skill-area .section-title h2 {
		font-size: 29px;
	}
	.skill-video {
		margin-top: 30px;
	}
	.skill-video .video-btn a {
		width: 60px;
		height: 60px;
		line-height: 65px;
		font-size: 25px;
	}
	.skill-video .video-btn a::before, .skill-video .video-btn a::after {
		left: -5px;
		top: -5px;
		height: 70px;
		width: 70px;
	}
	.funFacts-area {
		padding-bottom: 20px;
	}
	.funFact {
		margin-bottom: 30px;
	}
	.funFact .fa.fa-users {
		left: 0;
		font-size: 45px;
		top: 5px;
	}
	.team-area .section-title h2 {
		line-height: 1.3;
		margin-top: -4px;
	}
	.how-work {
		padding-bottom: 20px;
	}
	.single-how-work {
		padding: 30px;
		margin-bottom: 30px;
	}
	.services-area {
		padding-bottom: 20px;
	}
	.services-content {
		padding: 30px 20px;
	}
	.why-we-different .section-title h2 {
		line-height: 1.3;
		display: inline-block;
		margin-top: -5px;
	}
	.tabset > label {
		display: block;
		padding: 15px 20px;
		margin-right: 0;
		border-radius: 4px;
		margin-bottom: 5px;
	}
	.why-we-different-text h4 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.why-we-different-img {
		margin-top: 30px;
	}
	.shorting-menu {
		display: block;
		box-shadow: unset;
		padding: 0;
		border-radius: 0;
	}
	.shorting-menu .filter {
		padding: 9px 24px;
		font-size: 15px;
		margin-bottom: 7px;
	}
	.shorting {
		margin-top: 25px;
	}
	.single-work {
		padding: 0;
		margin: 5px;
	}
	.single-work:hover::before {
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
	}
	.single-work .work-content {
		bottom: 0;
		width: 100%;
		left: 0;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.single-work:hover .work-content {
		bottom: 10px;
	}
	.single-work .popup-btn {
		top: 5px;
		right: 15px;
	}
	.single-work:hover .popup-btn {
		top: 15px;
	}
	.price-area {
		padding-bottom: 20px;
	}
	.price-area .section-title h2 {
		line-height: 1.3;
		display: inline-block;
		margin-top: -5px;
	}
	.pricingTable {
		margin-bottom: 30px;
	}
	.faq-area .section-title h2 {
		line-height: 1.3;
		display: inline-block;
		margin-top: -5px;
	}
	.card-header a h5 {
		font-size: 16px;
		padding: 10px;
		line-height: 21px;
	}
	.card-header i {
		display: none;
	}
	.faq-area .image {
		display: none;
	}
	.testimonials-area .section-title h2 {
		display: inline-block;
		line-height: 1.3;
		margin-top: -5px;
	}
	.testimonials-area {
		padding-bottom: 20px;
	}
	.single-feedback {
		padding: 20px;
	}
	.single-feedback .client-title {
		margin-top: 15px;
	}
	.single-feedback .client-title h4 {
		font-size: 18px;
	}
	.single-feedback span {
		font-size: 100px;
		right: 15px;
	}
	.subscribe-area {
		text-align: left;
	}
	.newsletter {
		padding: 35px 20px;
	}
	.newsletter h4 {
		margin-bottom: 25px;
		font-size: 24px;
	}
	.newsletter form .form-control {
		height: 60px;
		border-radius: 30px;
		padding-left: 15px;
		font-size: 16px;
	}
	.newsletter form .btn {
		position: unset;
		right: 0;
		top: 0;
		height: 50px;
		width: auto;
		margin-top: 20px;
	}
	.contact-info {
		padding: 24px 25px 30px;
	}
	.contact-info ul li:first-child i {
		top: 0;
	}
	.contact-form {
		padding: 40px 25px;
		margin-top: 30px;
	}
	.page-title {
		height: 410px;
	}
	.page-title h1 {
		margin-bottom: 25px;
		font-size: 35px;
		margin-top: 30px;
	}
	.page-title ul li {
		font-size: 15px;
	}
	.blog-details .article-img .date {
		bottom: 5px;
		width: 70px;
		left: 5px;
		height: 70px;
		font-size: 18px;
		padding-top: 10px;
		line-height: 25px;
	}
	.blog-details .article-text {
		padding: 24px;
	}
	.blog-details .article-text ul li {
		margin-bottom: 5px;
	}
	.blog-details .article-text .category a {
		font-size: 14px;
	}
	.blog-details-area .title {
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 25px;
		line-height: 1.3;
	}
	.blog-details .blockquote {
		padding: 20px;
		font-size: 16px;
		border-left: 3px solid #e71d36;
	}
	.blog-details .article-author .author-title {
		margin-top: 8px;
	}
	.blog-details .author-share .social-share {
		margin-top: 30px;
		text-align: center;
	}
	.blog-details .author-share .social-share a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
	}
	.post-controls-buttons {
		padding-left: 0;
		padding-right: 0;
	}
	.single-comment .comment-img {
		width: 20%;
	}
	.single-comment .comment-content {
		width: 80%;
	}
	.single-comment .comment-content p {
		font-size: 15px;
	}
	.single-comment .comment-content a {
		right: auto;
		font-size: 16px;
		left: 25px;
	}

}

@media only screen and (min-width : 667px) and (max-width : 768px) {
	.single-work img {
		width: 100%;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
	.owl-theme .owl-nav [class*="owl-"] {
		left: 0;
	}
	.owl-theme .owl-nav .owl-next {
		left: auto;
		right: 40px;
	}
	.navbar {
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar-light .navbar-brand {
		color: #000;
	}
	.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
		color: #000;
	}
	.navbar-light .navbar-nav .nav-link {
		color: #000;
	}
	.navbar-light .navbar-toggler {
		border-color: #e71d36;
	}
	.navbar-light .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231, 29, 54, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
    .main-banner {
		/* height: 700px; */
	}
    .creative-banner-two::before {
        border-top: 100px solid transparent;
    }
    .creative-banner-two::after {
        border-top: 100px solid transparent;
    }
    .creative-banner-three::before {
		height: 60px;
		background-size: cover;
		bottom: 0;
	}
	.main-banner-text h1 {
		font-size: 48px;
	}
	.welcome-area {
		padding-bottom: 50px;
	}
	.single-box {
		margin-bottom: 30px;
	}
	.about-video {
		margin-top: 40px;
	}
	.about-video img {
		width: 100%;
	}
	.skill-video {
		margin-top: 40px;
	}
	.skill-video img {
		width: 100%;
	}
	.funFacts-area {
		padding-bottom: 50px;
	}
	.funFact {
		margin-bottom: 30px;
	}
	.how-work {
		padding-bottom: 50px;
	}
	.single-how-work {
		margin-bottom: 30px;
	}
	.tabset > label {
		padding: 14px 15px;
		margin-right: 2px;
		font-size: 16px;
	}
	.why-we-different-img {
		margin-top: 58px;
	}
	.shorting-menu {
		display: block;
		padding: 15px 15px;
	}
	.single-work {
		padding: 0;
		margin: 5px;
	}
	.single-work:hover::before {
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
	}
	.single-work .work-content {
		bottom: 5px;
		width: 100%;
		left: 0;
	}
	.single-work:hover .work-content {
		bottom: 10px;
	}
	.price-area {
		padding-bottom: 50px;
	}
	.pricingTable {
		margin-bottom: 30px;
	}
	.faq-area .image {
		display: none;
	}
	.contact-form {
		margin-top: 40px;
	}
	.page-title {
		height: 430px;
	}
	.page-title h1 {
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .about-addax .pull-left {
		margin-right: 35px;
	}
	.single-who-we-are {
		padding: 35px 30px;
	}
	.about-skill .section-title {
		margin-bottom: 40px;
	}
	.skill-video {
		margin-top: 60px;
	}
	.single-feedback {
		padding: 30px 25px;
	}
	.single-feedback .client-title h5 {
		margin-top: 9px;
	}
	#map {
		height: 383px;
	}
}
