/*
@File: Addax Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

*** - Default CSS
*** - Prealoader CSS
*** - Main Header CSS
*** - Main Banner CSS
*** - Video Banner CSS
*** - Creative Banner CSS
*** - Particles Banner CSS
*** - Welcome Area CSS
*** - About Area CSS
*** - Who We Are Area CSS
*** - Strategy Area CSS
*** - CTR Area CSS
*** - Skill Area CSS
*** - Fun Facts Area CSS
*** - Team Area CSS
*** - How We Work CSS
*** - Services Area CSS
*** - Why We Are Different CSS
*** - Work Area CSS
*** - Pricing Area CSS
*** - FAQ Area CSS
*** - Testimonials Area CSS
*** - Blog Area CSS
*** - Partner Area CSS
*** - Subscribe Area CSS
*** - Contact Area CSS
*** - Page Title CSS
*** - Blog Details Area CSS
*** - Footer Area CSS
*** - Go Top CSS
*/


/*
==============================
Default CSS
==============================
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
    font-family: 'Poppins', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
}
ul li {
    list-style: none;
}
:focus {
    outline: 0 !important;
}
p {
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.8;
	/* color: #666; */
}
p-max {
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.8;
	/* color: #666; */
}
a {
	color: #222222;
	text-decoration: none;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
a:hover {
	color: #e71d36;
	text-decoration: none;
}
img {
    max-width: 100%;
}
.ptb-80 {
    padding-bottom: 80px;
    padding-top: 80px
}
.d-table {
	width: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}
.d-table-cell {
	vertical-align: middle;
}
.bg-f6f6f6 {
    background: #f6f6f6;
}
.bg-f6f6f6 {
    background: #fbfbfb;
}
/* Btn Btn-Primary*/
.btn {
	padding: 9px 25px;
	font-size: 16px;
	border-radius: 30px;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
.btn-primary {
	color: #fff;
	background-color: #e71d36;
	border-color: #e71d36;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.disabled:hover, .btn-primary.disabled:focus {
	color: #e71d36;
	background-color: #fff;
	border-color: #e71d36;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #fff;
	border-color: #e71d36;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
	box-shadow: none;
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #e71d36;
	border-color: #e71d36;
	opacity: 1;
}
/* Section Title */
.section-title {
	margin-bottom: 60px;
	padding-left: 30px;
	position: relative;
}
.section-title::before, .section-title::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	left: 10px;
	top: 0;
	background: #e71d36;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
.section-title::after {
	left: 0;
	height: 50%;
}
.section-title:hover::before {
	height: 50%;
}
.section-title:hover::after {
	height: 100%;
}
.section-title h2 {
	font-size: 35px;
	font-weight: 200;
	margin-bottom: 20px;
}
.section-title h2 span {
	color: #e71d36;
	font-weight: 600;
}
.section-title p {
	max-width: 635px;
	margin-top: -7px;
}
.section-title p-max {
	/* max-width: 635px; */
	margin-top: -7px;
}
.section-title-efective p {
	margin-top: -7px;
}
.section-title h4 {
	font-size: 18px;
	font-weight: 300;
    color: #e71d36;
	margin-bottom: 17px;
    /*text-transform: capitalize;*/
}
/* Form Control */
.form-control {
	height: 45px;
	padding: 10px;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 0;
}
.form-control:focus {
	border-color: #ddd;
	outline: 0;
	box-shadow: none;
}
/* Owl Carousel Button */
.owl-controls {
	margin-top: 50px;
	line-height: 0;
}
.owl-theme .owl-nav {
	margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
	margin: 0 4px;
	background: transparent;
	border-radius: 50%;
	border: 2px solid #ddd;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.owl-theme .owl-dots .owl-dot.active span {
	background: #869791;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	border-color: #e71d36;
	background: #e71d36;
}
.owl-theme .owl-dots .owl-dot:hover span {
	background: #e71d36;
	border-color: #e71d36;
}
.owl-theme .owl-nav [class*="owl-"] {
	position: absolute;
	left: 40px;
	top: 50%;
	margin-top: -20px;
	background: rgba(255,255,255,0.33);
	width: 60px;
	text-align: center;
	height: 60px;
	line-height: 54px;
	border-radius: 50%;
	font-size: 30px;
	color: #fff;
	-ms-transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
	background: #e71d36;
	color: #FFF;
}
.owl-theme .owl-nav .owl-next {
	left: auto;
	right: 40px;
}
/*
==============================
Preloader CSS
==============================
*/
.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99999;
}
.folding-cube {
	left: 0;
	width: 60px;
	height: 60px;
	position: absolute;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	top: 50%;
	right: 0;
	margin: -60px auto 0;
}
.folding-cube .cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.folding-cube .cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e71d36;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.folding-cube .cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.folding-cube .cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.folding-cube .cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.folding-cube .cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.folding-cube .cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.folding-cube .cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
/*
==============================
Main Header CSS
==============================
*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background: transparent !important;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-sticky.is-sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	box-shadow: none;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff !important;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.navbar-light .navbar-brand span {
	color: #e71d36;
	font-size: 35px;
	font-weight: 700;
	text-transform: lowercase;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #fff;
}
.navbar-light .navbar-nav .nav-item {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-light .navbar-nav .nav-item:last-child {
	padding-right: 0;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	padding-right: 0;
	padding-left: 0;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #e71d36;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	/* color: #e71d36; */
  color: #e71d36;
}
.header-sticky.is-sticky .navbar-brand {
	color: #010e1a;
}
.header-sticky.is-sticky .navbar-nav .nav-link {
	color: #e71d36;
	padding-right: 0;
	padding-left: 0;
}
.header-sticky.is-sticky .navbar-nav .active > .nav-link, .header-sticky.is-sticky .navbar-nav .nav-link.active, .header-sticky.is-sticky .navbar-nav .nav-link.show, .header-sticky.is-sticky .navbar-nav .show > .nav-link {
	color: #010e1a;
}
.header-sticky.is-sticky .navbar-nav .nav-link:focus, .header-sticky.is-sticky .navbar-nav .nav-link:hover {
	color: #010e1a;
}
/*
==============================
Main Banner CSS
==============================
*/
.main-banner {
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
.main-banner::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #010e1a;
	opacity: .77;
}
.partner-banner {
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
.partner-banner::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #010e1a;
	opacity: .39;
}
.item-bg-myad {
	background-image: url(../../assets/img/main-bg-myad.jpg);
}
.item-bg-customer {
	background-image: url(../../assets/img/main-bg-customer.jpg);
}
.item-bg-partner {
	background-image: url(../../assets/img/device.jpg);
}
.item-bg-investor {
	background-image: url(../../assets/img/main-bg-investor.jpg);
}
.item-bg-about {
	background-image: url(../../assets/img/main-bg-about.jpg);
}
.main-banner-text {
	text-align: center;
}
.main-banner-text h4 {
	color: #fff;
	font-weight: 200;
	font-size: 24px;
	letter-spacing: 1px;
}
.main-banner-text h1 {
	color: #fff;
	font-size: 55px;
	margin-top: 25px;
	margin-bottom: 30px;
	font-weight: 200;
	letter-spacing: 2px;
}
.main-banner-text h1 span {
	color: #e71d36;
	font-weight: 600;
}
.main-banner-text p {
	color: #fff;
	max-width: 730px;
	margin: auto;
	margin-bottom: 30px;
}
.main-banner-text .btn:hover, .main-banner-text .btn:focus {
	border-color: #fff;
}
.main-banner-text .view-work {
	background: transparent;
	border-color: #fff;
	margin-left: 10px;
}
.main-banner-text .view-work:hover, .main-banner-text .view-work:focus {
	border-color: #e71d36;
	background: #e71d36;
	color: #fff;
}
.main-banner-text .btn-primary:not(:disabled):not(.disabled).active, .main-banner-text .btn-primary:not(:disabled):not(.disabled):active, .main-banner-text .show > .btn-primary.dropdown-toggle {
	color: #e71d36;
	background-color: #fff;
	border-color: #fff;
}
.home-slides .owl-controls {
	margin-top: 0;
}
/*
==============================
Video Banner CSS
==============================
*/
.video-background {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	z-index: -100;
}
/*
==============================
Creative Banner CSS
==============================
*/
.creative-banner-one {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-width: 10rem 100vw 0 0;
	border-color: transparent #fff #fff transparent;
	border-style: solid;
}
.creative-banner-two {
	position: relative;
	top: 100%;
	width: 100%;
	height: 0;
}
.creative-banner-two::before {
	content: "";
	border-right: 50vw solid #fff;
	border-top: 160px solid transparent;
	bottom: 0;
	right: 0;
	position: absolute;
	height: 0;
	width: 0;
}
.creative-banner-two::after {
	content: '';
	position: absolute;
	border-left: 50vw solid #fff;
	border-top: 160px solid transparent;
	bottom: 0;
	height: 0;
	left: 0;
	width: 0;
}
.creative-banner-three {
	position: relative;
	top: 100%;
	width: 100%;
	height: 0;
}
.creative-banner-three::before {
	content: '';
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 100%;
	background-image: url(../../assets/img/shape.png);
	height: 150px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*
==============================
Particles Banner CSS
==============================
*/
#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
/*
==============================
Welcome Area CSS
==============================
*/
.single-box {
	text-align: center;
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	padding: 30px 20px;
    position: relative;
    overflow: hidden;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-box:hover {
	box-shadow: unset;
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}
.single-box .icon {
	color: #e71d36;
	font-size: 45px;
}
.single-box h3 {
	margin-top: 25px;
	margin-bottom: 20px;
    font-weight: 600;
	font-size: 20px;
}
.single-box a {
	position: absolute;
	right: -20px;
	bottom: -20px;
	width: 45px;
	height: 40px;
	line-height: 44px;
	text-align: center;
	box-shadow: 0px 0px 25px 0px rgba(0, 27, 103, 0.3);
	border-radius: 50% 0 0 0;
	opacity: 0;
	visibility: hidden;
}
.single-box:hover a {
	background: #e71d36;
	color: #fff;
	opacity: 1;
	visibility: visible;
	right: 0;
	bottom: 0;
}
/*
==============================
About Area CSS
==============================
*/
.about-area {
	background-image: url(../../assets/img/patt.png);
	background-position: center center;
}
.about-video {
	position: relative;
}
.about-video .video-btn {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: -26px;
}
.about-video .video-btn a {
	color: #fff;
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 72px;
	background: #e71d36;
	position: relative;
	font-size: 30px;
	border-radius: 50%;
}
.about-video .video-btn a::before, .about-video .video-btn a::after {
	content: "";
	position: absolute;
	left: -6px;
	top: -5px;
	height: 80px;
	width: 80px;
	border: 6px solid #fff;
	border-radius: 50%;
	animation: icon-bubble 1.1s infinite forwards linear 0.5s;
}
.about-video .video-btn a::after {
	animation: icon-bubble 1.1s infinite forwards linear;
}
@keyframes icon-bubble {
	0%{
		transform: scale(0.85); opacity: 1;
	}
	25%{
		transform: scale(1.05); opacity: 0.8;
	}
	50%{
		transform: scale(1.2); opacity: 0.55;
	}
	75%{
		transform: scale(1.32); opacity: 0.3;
	}
	100%{
		transform: scale(1.4); opacity: 0;
	}
}
.about-addax {
	margin-top: 12px;
}
.about-addax .section-title {
	margin-bottom: 20px;
    padding-left: 0;
}
.about-addax .section-title::before, .about-addax .section-title::after {
    display: none;
}
.about-addax .section-title h2 {
	font-size: 25px;
}
.about-addax ul {
	margin-bottom: 30px;
}
.about-addax ul li {
	margin-bottom: 10px;
	font-weight: 300;
	/* color: #666; */
}
.about-addax ul li i {
	color: #e71d36;
	margin-right: 5px;
}
.about-addax ul li:last-child {
	margin-bottom: 0;
}
.about-addax .pull-left {
	margin-right: 45px;
}
/*
==============================
Who We Are Area CSS
==============================
*/
.who-we-are {
	padding-bottom: 50px;
}

.single-who-we-are {
	border-radius: 5px;
    margin-bottom: 30px;
	position: relative;
	overflow: hidden;
    box-shadow: 0 20px 40px 0 rgba(28, 30, 35, 0.2);
	background: #ffffff;
	padding: 50px 30px;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.single-who-we-are:hover {
	background: #e71d36;
	color: #ffffff;
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}
.single-who-we-are i {
	font-size: 50px;
	color: #e71d36;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-who-we-are:hover i {
    color: #fff;
}
.single-who-we-are h4 {
	margin-bottom: 20px;
	margin-top: 25px;
	font-size: 22px;
	font-weight: 500;
}
.single-who-we-are p {
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-who-we-are:hover p {
    color: #fff;
}
.single-who-we-are span {
	bottom: 0;
	color: rgba(0, 0, 0, 0.03);
	font-size: 200px;
	line-height: 180px;
	position: absolute;
	right: 0;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-who-we-are:hover span {
	color: rgba(255, 255, 255, 0.2);
}

/*
==============================
Partner Area CSS
==============================
*/
.skill-area .image {
	background-image: url(../../assets/img/icons/partner-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

/*
==============================
Strategy Area CSS
==============================
*/
.strategy-area {
	position: relative;
}
.strategy-area0 .image {
	background-image: url(../../assets/img/icons/rocket-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.strategy-area .image {
	background-image: url(../../assets/img/icons/mission-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.strategy-area1 .image {
	background-image: url(../../assets/img/icons/player-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.strategy-area2 .image {
	background-image: url(../../assets/img/icons/effectiveness-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.strategy-area3 .image {
	background-image: url(../../assets/img/icons/flexibility-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.strategy-area4 .image {
	background-image: url(../../assets/img/icons/clock-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.strategy-area5 .image {
	background-image: url(../../assets/img/icons/report-icon.svg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.about-strategy p { padding-right: 25px; }

.about-strategy {
	padding-left: 25px;
  background-color: #fbfbfb;
}
.about-strategy .section-title {
	margin-bottom: 20px;
    padding-left: 0;
}
.about-strategy .section-title::before, .about-strategy .section-title::after {
    display: none;
}
.about-strategy ul {
    margin-bottom: 30px;
}
.about-strategy ul li {
	margin-bottom: 10px;
	font-weight: 300;
	/* color: #666; */
}
.about-strategy ul li:last-child {
	margin-bottom: 0;
}
.about-strategy ul li i {
    color: #e71d36;
    margin-right: 5px;
}
/*
==============================
CTR Area CSS
==============================
*/
.ctr-area {
    text-align: center;
    background-image: url(../../assets/img/ctr-bg.jpg);
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ctr-area::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #010e1a;
	opacity: .88;
}
.ctr-area .section-title {
    padding-left: 0;
}
.ctr-area .section-title::before, .ctr-area .section-title::after {
    display: none;
}
.ctr-area .section-title h2 {
	color: #fff;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.ctr-area .section-title p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: #fff;
}
.ctr-area .view-work {
	background: transparent;
	border-color: #fff;
	margin-left: 10px;
}
.ctr-area .btn:hover, .ctr-area .btn:focus {
	border-color: #fff;
}
.ctr-area .view-work:hover, .ctr-area .view-work:focus {
	border-color: #e71d36;
	background: #e71d36;
	color: #fff;
}
.ctr-area .btn-primary:not(:disabled):not(.disabled).active, .ctr-area .btn-primary:not(:disabled):not(.disabled):active, .ctr-area .show > .btn-primary.dropdown-toggle {
	color: #e71d36;
	background-color: #fff;
	border-color: #fff;
}
/*
==============================
Skill Area CSS
==============================
*/
.about-skill .section-title {
    padding-left: 0;
}
.about-skill .section-title::before, .about-skill .section-title::after {
    display: none;
}
.progress-title {
	font-size: 17px;
	margin-bottom: 13px;
}
.progress {
	height: 10px;
	background: #fff;
	border-radius: 5px;
	box-shadow: none;
	margin-bottom: 30px;
	overflow: visible;
}
.progress .progress-bar {
	box-shadow: none;
	position: relative;
	-webkit-animation: animate-positive 2s;
	animation: animate-positive 2s;
	background: #e71d36;
	border-radius: 5px;
}
.progress .progress-value {
	font-size: 15px;
	font-weight: 300;
	color: #222222;
	position: absolute;
	top: -29px;
	right: 0;
}
@-webkit-keyframes animate-positive{
    0% {
        width: 0;
    }
}
@keyframes animate-positive{
    0% {
        width: 0;
    }
}
.skill-video {
	position: relative;
}
.skill-video .video-btn {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: -26px;
}
.skill-video .video-btn a {
	color: #fff;
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 72px;
	background: #e71d36;
	position: relative;
	font-size: 30px;
	border-radius: 50%;
}
.skill-video .video-btn a::before, .skill-video .video-btn a::after {
	content: "";
	position: absolute;
	left: -6px;
	top: -5px;
	height: 80px;
	width: 80px;
	border: 6px solid #fff;
	border-radius: 50%;
	animation: icon-bubble 1.1s infinite forwards linear 0.5s;
}
.skill-video .video-btn a::after {
	animation: icon-bubble 1.1s infinite forwards linear;
}
@keyframes icon-bubble {
	0%{
		transform: scale(0.85); opacity: 1;
	}
	25%{
		transform: scale(1.05); opacity: 0.8;
	}
	50%{
		transform: scale(1.2); opacity: 0.55;
	}
	75%{
		transform: scale(1.32); opacity: 0.3;
	}
	100%{
		transform: scale(1.4); opacity: 0;
	}
}
/*
==============================
Fun Facts Area CSS
==============================
*/
.funFacts-area {
    background-image: url(../../assets/img/funfact-bg.png);
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.funFacts-area::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #010e1a;
	opacity: .77;
}
.funFact {
	position: relative;
	padding-left: 65px;
}
.funFact i {
	font-size: 50px;
	color: #e71d36;
	position: absolute;
	left: 0;
	top: 2px;
}
.funFact .fa.fa-users {
	left: -10px;
}
.funFact h2 {
	color: #fff;
	margin-bottom: 5px;
	font-size: 45px;
	font-weight: 600;
}
.funFact p {
	color: #fff;
	font-size: 18px;
}
/*
==============================
Team Area CSS
==============================
*/
.our-team {
	text-align: center;
	position: relative;
}
.team-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 92%;
	background: #fff;
	margin-left: 15px;
	padding-top: 20px;
	z-index: 1;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.our-team:hover .team-content {
	bottom: 34%;
	background: transparent;
}
.team-content .title {
	font-size: 20px;
	margin-bottom: 6px;
	font-weight: 600;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.our-team:hover .team-content .title {
	color: #fff;
}
.team-content .post {
	/* color: #666; */
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.our-team:hover .team-content .post {
	color: #fff;
}
.our-team .social {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.3) 80%);
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 0;
	visibility: hidden;
}
.our-team:hover .social {
	opacity: 1;
	visibility: visible;
}
.our-team .social ul {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -50px;
	transform: translateY(-35px);
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.our-team:hover .social ul {
	transform: translateY(0);
}
.our-team .social ul li {
	display: inline-block;
}
.our-team .social ul li a {
	width: 35px;
	height: 35px;
	line-height: 32px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
}
.our-team .social ul li a:hover {
	border-color: #e71d36;
	background: #e71d36;
}
/*
==============================
How We Work CSS
==============================
*/
.how-work {
	background-image: url(../../assets/img/dott.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
}
.single-how-work {
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	background: #fff;
	padding: 35px;
	border-radius: 5px;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.single-how-work:hover {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
.single-how-work h3 {
	color: #e71d36;
	font-size: 45px;
	font-weight: 700;
}
.single-how-work h4 {
	margin-top: 25px;
	margin-bottom: 18px;
	font-size: 22px;
}
/*
==============================
Services Area CSS
==============================
*/
.services-area {
    padding-bottom: 50px;
}
.single-services {
	border-radius: 5px;
	margin-bottom: 30px;
	box-shadow: 0 20px 40px 0 rgba(28, 30, 35, 0.2);
	text-align: center;
	position: relative;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-services:hover {
    box-shadow: unset;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
.single-services::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	/*border-left: 2px solid #e71d36;*/
	height: 50px;
	/*border-bottom: 2px solid #e71d36;*/
	opacity: 0;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-services:hover::before {
	opacity: 1;
	width: 100%;
	height: 50%;
}
.services-img {
	position: relative;
  background-color: #fff;
}
.services-img::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*background: #010e1a;
	opacity: .66;*/
}
.services-img .icon {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -30px;
}
.single-services i {
	width: 70px;
	height: 70px;
	line-height: 71px;
	border: 1px solid #fff;
	font-size: 30px;
	color: #fff;
	border-radius: 50%;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-services:hover i {
    background: #fff;
    color: #e71d36;
}
.services-content {
    padding: 30px 25px;
	position: relative;
	background-color: #ffffff;
}
.single-services h3 {
	font-size: 22px;
	margin-bottom: 18px;
	font-weight: 500;
}
.services-area .single-box {
	margin-bottom: 30px;
}
/*
==============================
Why We Are Different CSS
==============================
*/
.tabset > input[type="radio"] {
	display: none;
}
.tabset .tab-panel {
	display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
	display: block;
}
.tabset > label {
	position: relative;
	display: inline-block;
	padding: 15px 32px;
	margin-right: 6px;
	cursor: pointer;
	background: transparent;
	transition: background ease 0.2s;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 0;
	font-size: 18px;
}
.tabset > input:checked + label {
	border-color: #e71d36;
	background: #e71d36;
	color: #fff;
}
.tab-panel {
	margin-top: 35px;
}
.why-we-different-text h4 {
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 20px;
}
.why-we-different-text p {
	max-width: 635px;
	margin-top: -7px;
}
.why-we-different-text ul {
	margin-top: 25px;
	margin-bottom: 30px;
}
.why-we-different-text ul li {
	margin-bottom: 10px;
	font-weight: 300;
	/* color: #666; */
}
.why-we-different-text ul li:last-child {
	margin-bottom: 0;
}
.why-we-different-text ul li i {
	color: #e71d36;
	margin-right: 5px;
}
/*
==============================
Work Area CSS
==============================
*/
.shorting-menu {
	display: inline-block;
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	padding: 18px 20px;
	border-radius: 50px;
}
.shorting-menu .filter {
	border: none;
	background: #f4f4f4;
	padding: 9px 24px;
	text-transform: capitalize;
	font-size: 16px;
	cursor: pointer;
	-o-transition: .4s;
	-ms-transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	border-radius: 30px;
	color: #010e1a;
}
.shorting-menu .filter.active, .shorting-menu .filter:hover {
	background: #e71d36;
	color: #fff;
}
.shorting {
    margin-top: 40px;
}
.shorting .mix {
    display: none;
}
.single-work {
	overflow: hidden;
	position: relative;
    padding: 5px;
}
.single-work::before {
	content: '';
	position: absolute;
	top: 15px;
	width: 95%;
	height: 93%;
	background: #010e1a;
	left: 14px;
	opacity: 0;
	visibility: hidden;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-work:hover::before {
	top: 21px;
	width: 93%;
	height: 91%;
	left: 21px;
	opacity: .66;
	visibility: visible;
}
.single-work .work-content {
	position: absolute;
	bottom: 20px;
	width: 86%;
	background: #fff;
	left: 40px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	opacity: 0;
	visibility: hidden;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-work:hover .work-content {
	bottom: 35px;
	opacity: 1;
	visibility: visible;
}
.single-work .work-content h4 {
	font-size: 22px;
	margin-bottom: 10px;
}
.single-work .work-content ul li {
    display: inline-block;
}
.single-work .work-content ul li {
	display: inline-block;
	font-size: 14px;
}
.single-work .popup-btn {
	position: absolute;
	top: 20px;
	right: 40px;
	width: 45px;
	text-align: center;
	height: 45px;
	line-height: 46px;
	border-radius: 50%;
	color: #fff;
	font-size: 22px;
	opacity: 0;
	visibility: hidden;
	border: 1px solid #fff;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.single-work .popup-btn:hover {
	background: #e71d36;
	border-color: #e71d36;
}
.single-work:hover .popup-btn {
	top: 36px;
	opacity: 1;
	visibility: visible;
}
/*
==============================
Pricing Area CSS
==============================
*/
.pricingTable {
	padding: 30px 0;
	text-align: center;
	position: relative;
    background-image: url(../../assets/img/patt.png);
    background-position: center center;
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.pricingTable:hover {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
.pricingTable::after {
	content: "";
	width: 70px;
	height: 30px;
	background: #e71d36;
	margin: 0 auto;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.pricingTable .title {
	padding: 20px 0;
    margin-bottom: 35px;
	background: #e71d36;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
.pricingTable .price-value {
	margin-bottom: 25px;
	color: #e71d36;
}
.pricingTable .currency {
	display: inline-block;
	font-size: 25px;
	vertical-align: top;
	margin-top: 6px;
}
.price-value .amount {
	display: inline-block;
	font-size: 44px;
	font-weight: 500;
}
.price-value .month {
	display: block;
	font-size: 15px;
	line-height: 16px;
	/*text-transform: capitalize;*/
	/* color: #666; */
}
.pricingTable .pricing-content {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	margin-bottom: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.pricingTable .pricing-content li {
	color: #8b8b8b;
	margin-top: 16px;
}
.pricingTable .pricing-content li:first-child {
	margin-top: 0;
}
.pricingTable .pricing-content li i {
	color: #e71d36;
	margin-right: 4px;
}
/*
==============================
FAQ Area CSS
==============================
*/
.faq-area .image {
	background-image: url(../../assets/img/faq-img.jpg);
	position: absolute;
	left: 15px;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.card {
	background-color: transparent;
	border-radius: 10px !important;
	margin-bottom: 6px;
	border: none;
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
}
.card-header:first-child {
	border-radius: 0;
}
.card-header {
	padding: 0;
	margin-bottom: 0;
	border: none;
	background: transparent;
}
.card-header a {
	display: block;
}
.card-header a:hover {
	background: #e71d36;
}
.card-header a h5 {
	font-size: 17px;
	overflow: hidden;
	padding: 20px;
	color: #fff;
	line-height: 16px;
	background: #e71d36;
}
.card-header a.collapsed h5 {
	color: #010e1a;
	background: transparent;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.card-header a.collapsed h5:hover {
	color: #fff;
}
.card-header i {
	float: right;
	font-size: 16px;
}
.card-header a.collapsed .fa.fa-plus::before {
    content: "\f067";
}
.card-header a .fa.fa-plus::before {
	content: "\f068";
}
.card-body {
	line-height: 1.9;
	background: transparent;
	/* color: #666; */
}
/*
==============================
Testimonials Area CSS
==============================
*/
.testimonials-area {
    padding-bottom: 50px;
}
.single-feedback {
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	background-image: url(../../assets/img/patt.png);
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	position: relative;
	-o-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.single-feedback:hover {
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
    background: #e71d36;
}
.single-feedback .client-info {
	overflow: hidden;
	margin-bottom: 30px;
}
.single-feedback .client-pic {
	float: left;
	width: 30%;
}
.single-feedback .client-pic img {
	border-radius: 50%;
}
.single-feedback .client-title {
	float: left;
	width: 70%;
	padding-left: 20px;
	margin-top: 17px;
}
.single-feedback .client-title h4 {
	font-size: 19px;
	font-weight: 500;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
.single-feedback:hover .client-title h4 {
    color: #fff;
}
.single-feedback .client-title h5 {
	font-size: 15px;
	margin-top: 13px;
	/* color: #666; */
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}
.single-feedback:hover .client-title h5 {
    color: #fff;
}
.single-feedback p {
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.single-feedback:hover p {
    color: #fff;
}
.single-feedback span {
	font-size: 175px;
	position: absolute;
	bottom: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.03);
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	line-height: 0;
}
.single-feedback:hover span {
	color: rgba(255, 255, 255, 0.2);
}
/*
==============================
Blog Area CSS
==============================
*/
.single-blog-item {
	position: relative;
	padding: 30px;
	border: 1px solid #eee;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.single-blog-item::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.single-blog-item:hover::before {
	background: #010e1a;
	opacity: .66;
}
.single-blog-item span, .single-blog-item p, .single-blog-item h4 {
	position: relative;
	-o-transition: .4s;
	-ms-transition: .4s;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.single-blog-item h4 {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.5;
	font-size: 20px;
    font-weight: 500;
}
.single-blog-item:hover span, .single-blog-item:hover p, .single-blog-item:hover h4 a {
    color: #fff;
}
.single-blog-item h4 a:hover {
    color: #e71d36;
}
.single-blog-item .link-btn {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 45px;
	height: 40px;
	line-height: 44px;
	text-align: center;
	box-shadow: 0px 0px 25px 0px rgba(0, 27, 103, 0.3);
	border-radius: 50% 0 0 0;
}
.single-blog-item:hover .link-btn {
	background: #e71d36;
	color: #fff;
}
/*
==============================
Partner Area CSS
==============================
*/
.partner-area {
	text-align: center;
}
.partner-area .owl-carousel .owl-item img {
	width: 140px;
}
/*
==============================
Subscribe Area CSS
==============================
*/
.subscribe-area {
	background-image: url(../../assets/img/pattern.png);
	text-align: center;
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	background-attachment: fixed;
}
.newsletter {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	background: #fff;
	padding: 35px;
	border-radius: 5px;
}
.newsletter h4 {
	text-transform: capitalize;
	margin-bottom: 30px;
    font-size: 30px;
}
.newsletter form {
	position: relative;
}
.newsletter form .form-control {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border: none;
	height: 75px;
	border-radius: 50px;
	padding-left: 20px;
	font-size: 17px;
}
.newsletter form .btn {
	position: absolute;
	right: 7px;
	top: 8px;
	height: 60px;
	width: 175px;
}
/*
==============================
Contact Area CSS
==============================
*/
#map {
	width: 100%;
	height: 400px;
}
.contact-info {
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	background: #fff;
	padding: 30px;
	border-top: 3px solid #e71d36;
	border-bottom: 3px solid #e71d36;
}
.contact-info ul li {
	position: relative;
	padding-left: 60px;
	font-size: 16px;
	margin-bottom: 34px;
	color: #151515;
}
.contact-info ul li:last-child {
    margin-bottom: 0;
}
.contact-info ul li i {
	position: absolute;
	left: 0;
	top: -11px;
	color: #e71d36;
	font-size: 19px;
	background: #f6f6f6;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
}
.contact-info .follow-us {
	text-align: right;
	margin-top: 40px;
}
.contact-info .follow-us li:first-child {
	font-size: 18px;
	font-weight: 400;
	margin-right: 5px;
}
.contact-info .follow-us li {
	padding-left: 0;
	display: inline-block;
	margin-bottom: 0;
}
.contact-info .follow-us li a {
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border: 1px solid #010e1a;
	border-radius: 50%;
}
.contact-info .follow-us li a:hover, .contact-info .follow-us li a:focus {
	background: #e71d36;
	color: #fff;
	border-color: #e71d36;
}
.contact-form {
	box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
	padding: 40px 30px;
	border-top: 3px solid #e71d36;
	border-bottom: 3px solid #e71d36;
	background: #fff;
}
.contact-form h4 {
	color: #e71d36;
	margin-bottom: 25px;
	font-size: 22px;
}
.list-unstyled li {
	color: #d9534f;
}
.contact-form .form-control {
	border-radius: 30px;
}
.contact-form .btn {
	margin-top: 20px;
}
#message {
	height: auto;
	padding: 15px;
}
/*
==============================
Page Title CSS
==============================
*/
.page-title {
	height: 550px;
	position: relative;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
	text-align: center;
}
.page-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #010e1a;
    opacity: .6;
}
.page-title h1 {
	margin-bottom: 35px;
	color: #fff;
	font-size: 45px;
	font-weight: 600;
	margin-top: 65px;
}
.page-title ul li {
	display: inline-block;
	margin: 0 3px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}
.page-title ul li.active {
	color: #ccc;
}
.page-title ul li a {
    color: #fff;
}
.page-title ul li a:hover {
	color: #e71d36;
}
/*
==============================
Blog Details Area CSS
==============================
*/
.blog-details-area {
	background-image: url(../../assets/img/pattern.png);
	background-attachment: fixed;
}
.blog-details {
    box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	background: #fff;
}
.blog-details .article-img {
	position: relative;
}
.blog-details .article-img .date {
	position: absolute;
	bottom: 15px;
	width: 100px;
	left: 15px;
	height: 100px;
	text-align: center;
	font-size: 25px;
	background: #e71d36;
	color: #fff;
	border-radius: 5px;
	padding-top: 19px;
	line-height: 32px;
	font-style: italic;
}
.blog-details .article-text {
	padding: 30px;
}
.blog-details .article-text ul li {
	display: inline-block;
}
.blog-details .article-text .category a {
	background: #e71d36;
	color: #fff;
	padding: 3px 15px;
	display: inline-block;
	border-radius: 3px;
	font-weight: 400;
}
.blog-details-area .title {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 27px;
}
.blog-details .article-text p {
	margin-bottom: 20px;
}
.blog-details .blockquote {
	margin-bottom: 25px;
	background: #f4f4f4;
	padding: 30px;
	margin-top: 25px;
	font-size: 17px;
	border-left: 4px solid #e71d36;
}
.blog-details .blockquote p {
	color: #010e1a;
}
.blog-details .author-share {
	margin-top: 40px;
}
.blog-details .article-author {
	overflow: hidden;
}
.blog-details .article-author .author-img {
	float: left;
	width: 27%;
}
.blog-details .article-author .author-img img {
	border-radius: 50%;
}
.blog-details .article-author .author-title {
	float: left;
	width: 73%;
	padding-left: 25px;
	margin-top: 17px;
}
.blog-details .article-author .author-title h4 {
	font-size: 20px;
	margin-bottom: 6px;
	text-transform: uppercase;
}
.blog-details .article-author .author-title span {
	/* color: #666; */
	font-size: 15px;
}
.blog-details .author-share .social-share {
	text-align: right;
	margin-top: 28px;
}
.blog-details .author-share .social-share a {
	background: #e71d36;
	color: #fff;
	width: 35px;
	display: inline-block;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
}
.post-controls-buttons {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 70px;
	padding-right: 70px;
}
.post-controls-buttons div {
	display: inline-block;
}
.post-controls-buttons .controls-right {
	float: right;
}
.post-controls-buttons div a {
    background: linear-gradient(-45deg, #4e54c8, #8089ff);
    box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
}
.post-controls-buttons div a {
	box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	padding: 10px 20px;
	border-radius: 5px;
	background: #fff;
	color: #e71d36;
}
.post-controls-buttons div a:hover {
	background: #e71d36;
	color: #fff;
}
.single-comment {
	box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	padding: 25px;
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.single-comment.left-m {
	margin-left: 30px;
}
.single-comment .comment-img {
	float: left;
	width: 13%;
}
.single-comment .comment-img img {
    border-radius: 50%;
}
.single-comment .comment-content {
	float: left;
	width: 87%;
	padding-left: 25px;
}
.single-comment .comment-content h4 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.single-comment .comment-content p {
	margin-bottom: 15px;
}
.single-comment .comment-content a {
	position: absolute;
	right: 25px;
	bottom: 25px;
	color: #e71d36;
	text-transform: uppercase;
	font-size: 17px;
}
.leave-a-reply {
	box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	padding: 25px;
	background: #fff;
	margin-top: 50px;
}
.leave-a-reply .btn {
	margin-top: 20px;
}
/*
==============================
Footer Area CSS
==============================
*/
.footer-area {
	text-align: center;
	padding: 50px 0;
	background: #010e1a;
}
.footer-area h4 {
	line-height: 22px;
	margin-bottom: 30px;
}
.footer-area h4 a {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 35px;
}
.footer-area h4 span {
	color: #e71d36;
	font-size: 40px;
	font-weight: 700;
	text-transform: lowercase;
}
.footer-area ul li {
	display: inline-block;
}
.footer-area ul li a {
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 15px;
}
.footer-area ul li a:hover, .footer-area ul li a:focus {
	background: #e71d36;
	color: #fff;
	border-color: #e71d36;
}
.footer-area p {
	line-height: 1;
	margin-top: 30px;
	color: #fff;
}
/*
==============================
Go Top CSS
==============================
*/
.go-top {
	position: fixed;
	cursor: pointer;
	bottom: 30px;
	right: 20px;
	font-size: 25px;
	color: #fff;
	background-color: #e71d36;
	z-index: 1;
	display: none;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 39px;
	border-radius: 50%;
	-moz-transition: .4s;
	-webkit-transition: .4s;
	transition: .4s;
}
.go-top:hover {
	color: #fff;
	background: #010e1a;
}
