main > .container {
    padding: 0 0 30px;
}

div.navbar .container {
    padding: 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand img {
    width: 18px;
    margin-right: 6px;
}

td.myad-code {
    font-size: 0.8rem;
}

.img-thumbnail {
    max-width: 300px;
}

.custom-file-control:lang(en)::after {
    content: "Select file...";
}

.custom-file-control:lang(en)::before {
    content: "Click me";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}
.custom-file-control {
    white-space: nowrap;
}

.tb_action_bar {
    width: 19%;
}