<form method="post" action="{{ path('video_delete', {'id': video.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('video_index') }}" role="button">Back to list</a>
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('video_edit', {'id': video.id}) }}" role="button">Edit</a>
    <button class="btn btn-sm btn-outline-secondary">Delete</button>
</form>
