{% extends 'admin.html.twig' %}

{% block title %}Edit Video{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Video</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('video_index') }}" role="button">Back to list</a>
            </div>
        </div>
    </div>

    {{ include('video/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#image_source').on('change',function(){
            $(this).next('.custom-file-label').html($(this).val());
        });

        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minuteStep: 30
        });
    </script>
{% endblock %}