{% extends 'admin.html.twig' %}

{% block title %}Show Video{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Show Video</h1>
        <div class="btn-toolbar mb-4 mb-md-1">
            <div class="btn-group mr-0">
                {{ include('video/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <table class="table table-borderless">
        <tbody>
        <tr>
            <th scope="row" style="width: 20%">Region</th>
            <td>{{ video.region }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ video.category }}</td>
        </tr>
        <tr>
            <th>Image source</th>
            <td>
                <div>
                    <figure class="figure">
                        <video width="320" height="240" controls>
                            <source src="{{ asset(video.sourceWebPath) }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <figcaption class="figure-caption">
                            <a href="{{ asset(video.sourceWebPath) }}" target="_blank">Show original file</a>
                        </figcaption>
                    </figure>
                </div>
            </td>
        </tr>
        <tr>
            <th>Started At</th>
            <td>{{ video.startedAt ? video.startedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>
                {% transchoice video.duration %}
                    {1} %count% day|]1,Inf[ %count% days
                {% endtranschoice %}
            </td>
        </tr>
        <tr>
            <th scope="row">Price</th>
            <td>{{ video.price|number_format }} PLN</td>
        </tr>
        <tr>
            <th>Firebase Id</th>
            <td>{{ video.firebaseId|default('empty') }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ video.url|default('empty') }}</td>
        </tr>
        <tr>
            <th>Download url</th>
            <td>{{ video.downloadUrl|default('empty') }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}