<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    {{ encore_entry_link_tags('admin/js/app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <div class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="{{ path('admin') }}" class="navbar-brand d-flex align-items-center">
                <img src="{{ asset('build/images/logo.png') }}" alt="MyAd CMS"/> MyAd
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('device_index') }}">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('partner_index') }}">Partners</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Advertisements</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ path('classified_index') }}">Classifieds</a>
                        <a class="dropdown-item" href="{{ path('image_index') }}">Images</a>
                        <a class="dropdown-item" href="{{ path('video_index') }}">Videos</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav px-0">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('app_logout') }}">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; MyAd</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
{{ encore_entry_script_tags('admin/js/app') }}
{% block javascripts %}{% endblock %}
</body>
</html>