<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Font Awesome Min JS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <!-- Owl Theme Default CSS -->
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    {% block stylesheets %}{% endblock %}
</head>
<body data-spy="scroll" data-offset="70">
{% block body %}{% endblock %}
<!-- JQuery Min JS -->
<script src="assets/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel JS -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JS -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- WayPonits JS -->
<script src="assets/js/waypoints.min.js"></script>
<!-- CounterUp JS -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- Mixitup min JS -->
<script src="assets/js/jquery.mixitup.min.js"></script>
<!-- Jquery Ripples Min JS -->
<script src="assets/js/jquery.ripples-min.js"></script>
<!-- Form Validator Min JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Map API JS FILES -->
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApghCIIx9MpQhA768sKXxvR_Okg0SF2k4&callback=initMap"></script> -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0jSC-0U90TCMMr3QxWEE935KCDQnEoeU&callback=initMap"></script>

<!-- Fox Map JS FILE -->
<script src="assets/js/addax-map.js"></script>
<!-- WoW JS -->
<script src="assets/js/wow.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
